<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>step N &gt; 전자약정진행</title>

    <link href="../../resource/css/ui-util.css" rel="stylesheet">
    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/include.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="./ORIX-CEAG-PROG-003.js"></script>
    <style>
        /* 인크루드 스텝 */
        .page-container .group { display: none; }
        .page-container .group.active { display: block; }
    </style>
</head>
<body>
    <div id="wrap">
        <div data-include-path="../../views/include/inc-header.html"></div>

        <div id="contentWrap">
            <div class="contents">
                <ol class="step-progress">
                    <li class="active">
                        <span class="step-txt">신청내역 확인</span>
                    </li>
                    <li>
                        <span class="step-txt">약정서 및 약관 동의</span>
                    </li>
                    <li>
                        <span class="step-txt">고객 정보 및 자동이체 정보 입력</span>
                    </li>
                </ol>

                <div class="page-container">
                    <div class="group step1 active" data-include-path="./ORIX-CEAG-PROG-003-step1.html"></div>
                    <div class="group step2" data-include-path="./ORIX-CEAG-PROG-003-step2.html"></div>
                    <div class="group step3" data-include-path="./ORIX-CEAG-PROG-003-step3.html"></div>
                </div>
            </div>
        </div>

        <div data-include-path="../include/inc-footer.html"></div>
    </div>

</body>
</html>
