<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>step N &gt; 전자약정진행</title>

    <link href="../../resource/css/ui-util.css" rel="stylesheet">
    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/include.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="./ORIX-CEAG-PROG-003.js"></script>
    <style>
        /* 인크루드 스텝 */
        .page-container .group { display: none; }
        .page-container .group.active { display: block; }
    </style>
</head>
<body>
    <div id="wrap">
        <div data-include-path="../../views/include/inc-header.html"></div>

        <div id="contentWrap">
            <div class="contents">
                <ol class="step-progress">
                    <li class="active">
                        <span class="step-txt">신청내역 확인</span>
                    </li>
                    <li>
                        <span class="step-txt">약정서 및 약관동의</span>
                    </li>
                    <li>
                        <span class="step-txt">고객 정보 및 자동이체 정보 입력</span>
                    </li>
                    <li>
                        <span class="step-txt">약정서 미리보기 및 전자서명</span>
                    </li>
                </ol>

                <div class="page-container">
                    <div class="group step1 active" data-include-path="./ORIX-CEAG-PROG-003-step1.html"></div>
                    <div class="group step2" data-include-path="./ORIX-CEAG-PROG-003-step2.html"></div>
                    <div class="group step3" data-include-path="./ORIX-CEAG-PROG-003-step3.html"></div>
                    <div class="group step4" data-include-path="./ORIX-CEAG-PROG-003-step4.html"></div>
                </div>
            </div>
        </div>

        <div id="footerWrap" role="contentinfo">
            <div class="footer-inner">
                <div class="footer-copy">
                    <span>ORIX Capital Korea Corporation</span>
                    <p>Copyrightⓒ 2014 ORIX Capital Korea Corporation. All right reserved.</p>
                </div>
                <div class="footer-add">
                    <span>06210 서울시 강남구 테헤란로 306(역삼동) 카이트타워13층</span>
                    <span>대표이사 : 박철수</span>
                    <span>사업자등록번호 : 120-86-63282</span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
