<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>오릭스 A시안 (약정서 요약본)</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="headerWrap" role="banner">
            <div class="header-inner">
                <h1 class="logo"><a href="#"><img src="../../resource/images/ORIX_logo.png" alt="오릭스"></a></h1>
                <div class="header-contact">
                    <span class="txt">고객센터</span>
                    <span class="tel">02-2050-6700</span>
                </div>
            </div>
        </div>

        <div id="contentWrap" role="main">
            <div class="contents">
                <ol class="step-area">
                    <li>1</li>
                    <li>2</li> 
                    <li class="active">3</li>
                </ol>

                <h2 class="page-tit">약정서 요약본을 확인해주세요</h2>

                <div class="layout" style="width: 1200px; height: 900px; border: 1px solid #000;">
                    
                </div>
            </div>
        </div>

        <div id="footerWrap" role="contentinfo">
            <div class="footer-inner">
                <div class="footer-agreement">
                    <div class="check-group">
                        <input type="checkbox" id="agreeTerm">
                        <label for="agreeTerm" class="agreeterm">
                            <span class="blue">약정 주요내용을 최종 확인</span>하였으며, 내용에 이상 없음을 확인했습니다.
                        </label>
                    </div>
                    <p class="sub-txt">※ 내용에 이상이 없을 경우, [다음] 버튼을 통해 최종 계약서 확인 및 전자서명 화면으로 이동하실 수 있습니다.</p>
                </div>
                <div class="btn-area">
                    <a href="./ORIX-CRTF-DTAG-001.html" class="btn-primary disabled" aria-disabled="true">법인 공동인증서 인증하기</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>