
<div class="visual-content">
    <h2 class="page-tit">약정서 및 약관 내용을 확인하고 동의해 주세요.</h2>
    <p class="s-tit">약정서 및 약관에는 귀사의 권리와 의무에 관한 중요한 사항이 포함되어 있습니다. 자동차 장기임대 약정 및 자동이체 등록과 관련된<br>
        조건과 절차를 포함하고 있으니, 각 항목을 반드시 확인하신 후 동의해 주세요.</p>
</div>

<div class="layout-grid">
    <div class="col-group term">
        <div class="card-box">
            <h3 class="card-tit">약정서 및 약관 동의</h3>

            <div class="terms-guide">
                각 약관의 상세 내용을 펼쳐 끝까지 확인해 주세요. 각 약관의 상세내용 하단에 위치한 [동의] 버튼을 클릭해야만 해당 약관의 확인 상태가 자동으로 변경되며, 모든 필수 약관 동의 완료 시 다음 단계를 진행하실 수 있습니다.
            </div>

            <div class="accordion-list">
                <div class="acc-item">
                    <div class="acc-head">
                        <div class="check-group line-type">
                            <input type="checkbox" id="term1" name="terms">
                            <label for="term1">
                                <span class="term-badge is-pending">미확인</span>
                                <span class="acc-trigger term-title">[필수] 자동차 장기임대 약정서</span>
                            </label>
                        </div>
                        <button type="button" class="btn-toggle" aria-label="내용 열기/닫기"></button>
                    </div>
                    
                    <div class="acc-body">
                        <div class="term-content">
                            <p class="term-tit">[필수] 자동차 장기임대 약정서</p>
                            <ul class="bul-refer">
                                <li>약정서 내용 수급 필요</li>
                            </ul>

                            <div class="term-footer">
                                <ul>
                                    <li>약정서 내용 수급 필요</li>
                                </ul>
                            </div>
                            <div class="btn-area">
                                <button class="btn-form">동의</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acc-item">
                    <div class="acc-head">
                        <div class="check-group line-type">
                            <input type="checkbox" id="term2" name="terms">
                            <label for="term2">
                                <span class="term-badge is-pending">미확인</span>
                                <span class="term-title">[필수] CMS 출금 이체 신청서</span>
                            </label>
                        </div>
                        <button type="button" class="btn-toggle"></button>
                    </div>
                    <div class="acc-body">
                        <div class="term-content">
                            약정서 내용 수급 필요
                            <div class="btn-area">
                                <button class="btn-form">동의</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acc-item">
                    <div class="acc-head">
                        <div class="check-group line-type">
                            <input type="checkbox" id="term3" name="terms">
                            <label for="term3">
                                <span class="term-badge is-pending">미확인</span>
                                <span class="term-title">[필수] 자동차 장기임대 거래약관</span>
                            </label>
                        </div>
                        <button type="button" class="btn-toggle"></button>
                    </div>
                    <div class="acc-body">
                        <div class="term-content">
                            약정서 내용 수급 필요
                            <div class="btn-area">
                                <button class="btn-form">동의</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acc-item">
                    <div class="acc-head">
                        <div class="check-group line-type">
                            <input type="checkbox" id="term4" name="terms">
                            <label for="term4">
                                <span class="term-badge is-pending">미확인</span>
                                <span class="term-title">[필수] 개인신용정보 제공 활용에 대한 고객 관리 안내문</span>
                            </label>
                        </div>
                        <button type="button" class="btn-toggle"></button>
                    </div>
                    <div class="acc-body">
                        <div class="term-content">
                            약정서 내용 수급 필요
                            <div class="btn-area">
                                <button class="btn-form">동의</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acc-item">
                    <div class="acc-head">
                        <div class="check-group line-type">
                            <input type="checkbox" id="term5" name="terms">
                            <label for="term5">
                                <span class="term-badge is-pending">미확인</span>
                                <span class="term-title">[필수] 전자금융거래 기본약관</span>
                            </label>
                        </div>
                        <button type="button" class="btn-toggle"></button>
                    </div>
                    <div class="acc-body">
                        <div class="term-content">
                            약정서 내용 수급 필요
                            <div class="btn-area">
                                <button class="btn-form">동의</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bottom-button-wrap">
    <div class="bottom-button-inner">
        <div class="bottom-button-text-wrap">
            <div class="bottom-button-notice">
                <p class="notice">모든 약정서 및 약관에 동의하셨다면 [다음] 버튼을 눌러주세요.</p>
                <p class="notice">다음 단계에서 약정서 발송 및 자동이체 등록에 필요한 고객정보와 계좌 정보를 입력하게 됩니다.</p>
            </div>
        </div>
        <div class="btn-area">
            <!-- 솔루션 노출이 필요할 시 button으로 바꿔서 솔루션 연결 -->
            <!-- 기본으로 disabled 속성, 유효성 검사 후 disabled 해제가 맞지만 테스트를 위해 풀어놓음 -->
            <a href="#" class="btn-primary">다음</a> 
        </div>
    </div>
</div>

