<div class="visual-content">
    <h2 class="page-tit">약정서 내용을 최종 확인하시고 인증을 완료해 주세요.</h2>
    <p class="s-tit">작성하신 정보는 약정서 발송 및 자동이체 등록에 활용됩니다. 자택 주소, 직장 정보, 이메일 등 약정서 수령을 위한 고객 정보와 자동이체에 사용할<br>
        계좌 정보 등 입력하신 정보는 암호화되어 안전하게 처리됩니다.</p>
</div>

<div class="layout-grid">
    <div class="col-group">
        <div class="card-box">
            <h3 class="card-tit">약정서 미리보기</h3>
            <div style="width: 100%; height: 1556px; border: 1px solid #000; display: flex; justify-content: center; align-items: center;">
                크로노스 솔루션 노출 영역
            </div>
        </div>
    </div>
</div>

<div id="bottom-button-wrap">
    <div class="bottom-button-inner">
        <div class="bottom-button-text-wrap">
            <div class="bottom-button-notice bottom-check-list">
                <div class="check-group rec">
                    <input type="checkbox" id="agreeContractAll2">
                    <label for="agreeContractAll2">모든 약정서의 내용을 끝까지 확인하였으며, 기재된 정보에 오류가 없음을 확인했습니다.</label>
                </div>
            
                <div class="check-group rec">
                    <input type="checkbox" id="agreeLegalGuide2">
                    <label for="agreeLegalGuide2">법인 공동인증서 인증 후, 심사가 진행되며 이후에는 정보 수정 및 약정 취소가 불가함을 이해하였습니다.</label>
                </div>
            </div>
        </div>
        <div class="btn-area">
            <!-- 솔루션 노출이 필요할 시 button으로 바꿔서 솔루션 연결 -->
            <!-- 기본으로 disabled 속성, 유효성 검사 후 disabled 해제가 맞지만 테스트를 위해 풀어놓음 -->
            <a href="#" class="btn-primary">법인 공동인증서 인증하기</a> 
        </div>
    </div>
</div>