<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>오릭스 A시안 (약정서 요약본)</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>
</head>
<body>
    <div id="wrap">
        <div data-include-path="../include/inc-header.html"></div>

        <div id="contentWrap" role="main">
            <div class="contents">
                <ol class="step-progress">
                    <li class="done">
                        <span class="step-txt">계약 요건 및 상품 약관 동의</span>
                    </li>
                    <li class="done">
                        <span class="step-txt">자동이체 및 납부정보 수집</span>
                    </li>
                    <li class="active">
                        <span class="step-txt">최종 약정서 미리보기 및 전자서명</span>
                    </li>
                </ol>
                <div class="visual-content">
                    <h2 class="page-tit">약정서 요약본을 확인해주세요</h2>
                </div>

                <div class="layout" style="width: 1200px; height: 900px; border: 1px solid #000;">
                    
                </div>
            </div>

            <div id="bottom-button-wrap">
                <div class="bottom-button-inner">
                    <div class="bottom-button-text-wrap">
                        <div class="bottom-button-notice bottom-check-list">
                            <div class="check-group rec">
                                <input type="checkbox" id="agreeContractAll">
                                <label for="agreeContractAll">모든 약정서의 내용을 끝까지 확인하였으며, 기재된 정보에 오류가 없음을 확인했습니다.</label>
                            </div>
                        
                            <div class="check-group rec">
                                <input type="checkbox" id="agreeLegalGuide">
                                <label for="agreeLegalGuide">법인 공동인증서 인증 후, 심사가 진행되며 이후에는 정보 수정 및 약정 취소가 불가함을 이해하였습니다.</label>
                            </div>
                        </div>
                    </div>
                    <div class="btn-area">
                        <a href="../prog/ORIX-CEAG-PROG-003.html" class="btn-primary disabled">다음</a> <!-- 솔루션 노출이 필요할 시 button으로 바꿔서 솔루션 연결 -->
                    </div>
                </div>
            </div>
        </div>

        <div data-include-path="../include/inc-footer.html"></div>
    </div>
</body>
</html>
