<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>적합성 확인 화면 &gt; 전자약정진행</title>

    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>
</head>
<body> <!-- js로 로딩 팝업 끝날 시 auto로 변경 -->
    <div id="wrap">
        <!-- 
            D : 아래 inc-header.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-header.html 확인하시면 됩니다.
        -->
        <div id="headerWrap"></div>
        <script src="../include/inc-header.js"></script>

        <!-- 개발 확인용 헤더 인클루드 -->
        <!-- <div data-include-path="../include/inc-header.html"></div> -->

        <div id="contentWrap" role="main">
            <div class="contents">
                <div class="visual-content">
                    <div class="visual-content">
                        <h2 class="page-tit">금융소비자 보호를 위한 <span class="blue">법인 적합성 정보</span>를 확인해 주세요.</h2>
                        <p class="s-tit">금융소비자보호법에 따라 귀사(법인)의 재무 상태 및 이용 목적의 적정성을 확인하고 있습니다. <br>
                            입력하신 정보는 안전한 금융거래를 위한 심사자료로 활용되오니, 정확한 정보를 입력해 주시기 바랍니다.</p>
                    </div>
                </div>
                <div class="layout-grid">
                    <div class="col-group term">
                        <div class="card-box">
                            <h3 class="card-tit">적합성 확인</h3>
                            <div style="width: 100%; height: 1556px; border: 1px solid #000; display: flex; justify-content: center; align-items: center;">
                                크로닉스 솔루션 노출 영역
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="bottom-button-wrap">
                <div class="bottom-button-inner">
                    <div class="bottom-button-text-wrap">
                        <div class="bottom-button-notice">
                            <p class="notice">작성하신 적합성 정보는 약정 승인과 법적 효력을 입증하는 자료로 안전하게 보관됩니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
            D : 아래 inc-footer.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-footer.html 확인하시면 됩니다.
        -->
        <div id="footerWrap"></div>
        <script src="../include/inc-footer.js"></script>

        <!-- 개발 확인용 푸터 인클루드 -->
        <!-- <div data-include-path="../include/inc-footer.html"></div> -->
    </div>
</body>
</html>
