<div class="visual-content">
    <h2 class="page-tit">고객 정보 및 자동이체 정보를 입력해 주세요.</h2>
    <p class="s-tit">작성하신 정보는 약정서 발송 및 자동이체 등록에 활용됩니다. 자택 주소, 직장 정보, 이메일 등 약정서 수령을 위한 고객 정보와<br> 자동이체에 사용할
        계좌 정보 등 입력하신 정보는 암호화되어 안전하게 처리됩니다.</p>
</div>

<div class="layout-grid">
    <div class="col-group">
        <div class="card-box">
            <h3 class="card-tit">고객정보</h3>

            <div class="form-item js-address-group">
                <label class="form-label">사업장 주소<span class="required">*</span></label>
    
                <div class="form-row mb-12">
                    <input type="text" id="Zonecode" placeholder="사업장 주소를 검색해 주세요." class="form-input js-zonecode" readonly>
                    <button type="button"class="btn-form js-btn-postcode">주소 검색</button>
                </div>
    
                <input type="text" id="Address" placeholder="" class="form-input mb-12 js-address" readonly>
                <input type="text" id="DetailAddress" placeholder="" class="form-input js-detail-address">
                <p class="error-msg" style="display:none;">주소를 입력해 주세요.</p>
            </div>

            <div class="form-item">
                <label class="form-label" for="TPCName">담당자명<span class="required">*</span></label>
                <input id="TPCName" type="text" name="TPCName" class="form-input" placeholder="현재 전자약정을 진행중인 분의 성명을 입력해 주세요.">
            </div>

            <div class="form-item">
                <label class="form-label" for="TPC">담당자 구분<span class="required">*</span></label>
                <select class="form-input is-placeholder">
                    <option value="" disabled selected hidden>담당자 구분을 선택해 주세요.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

            <div class="form-item">
                <label class="form-label" for="CNumber">직장/사업장 전화번호<span class="required">*</span></label>
                <input id="CNumber" type="text" name="CNumber" class="form-input" placeholder="전화번호를 입력해 주세요.">
            </div>

            <div class="form-item">
                <label class="form-label" for="eMail">이메일<span class="required">*</span></label>
                <input id="eMail" type="text" name="eMail" class="form-input" placeholder="예) capital@orix.co.kr">
                <p class="error-msg">영문 대소문자와 숫자, 마침표(.), 하이픈(-), 언더바(_), 골뱅이(@)만 입력 가능합니다.</p>
                
                <div class="info-guide">
                    <p class="tit">확인해 주세요!</p>
                    <div class="desc">
                        <p>세금계산서 발급용과 동일한 이메일 주소를 입력해 주시기 바랍니다.</p>
                        <p>입력하신 이메일 주소로 전자약정 및 자동이체 청구서가 발송되므로 정확한 이메일 주소 입력을 부탁드립니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-group">
        <div class="card-box">
            <h3 class="card-tit">자동이체 설정</h3>

            <div class="form-item">
                <label for="accHoldername" class="form-label">예금주 <span class="required">*</span></label>
                <input type="text" id="accHoldername" class="form-input" placeholder="예금주명을 입력해 주세요.">
                <p class="error-msg" style="display:none;">올바른 예금주명을 입력해 주세요.</p>
                <p class="error-msg" style="display:none;">예금주를 입력해 주세요.</p>
            </div>

            <div class="form-item">
                <label class="form-label">계좌번호 <span class="required">*</span></label>
                <div class="form-stack">
                    <div class="radio-list">
                        <div class="radio-group">
                            <input type="radio" id="accountTypeBank" name="accountType" value="bank" checked>
                            <label for="accountTypeBank">
                                <span class="radio-check"></span>
                                <span class="txt">은행</span>
                            </label>
                        </div>
            
                        <div class="radio-group">
                            <input type="radio" id="accountTypeStock" name="accountType" value="stock">
                            <label for="accountTypeStock">
                                <span class="radio-check"></span>
                                <span class="txt">증권사</span>
                            </label>
                        </div>
                    </div>
                    <select class="form-input is-placeholder">
                        <option value="" disabled selected hidden>선택해주세요.</option>
                        <option value="신한">신한</option>
                        <option value="국민">국민</option>
                        <option value="하나">하나</option>
                    </select>
                    <!-- <select class="form-input is-placeholder">
                        <option value="" disabled selected hidden>증권사 선택</option>
                        <option value="한국투자">한국투자증권</option>
                        <option value="삼성">삼성증권</option>
                        <option value="키움">키움증권</option>
                    </select> -->
            
                    <input type="tel" class="form-input error" placeholder="'-'를 제외하고 입력해 주세요.">
                    <p class="error-msg">올바른 계좌번호를 입력해 주세요.</p>
                </div>

                <div class="btn-area full">
                    <button type="button" class="btn-primary">계좌 확인</button>
                </div>

                <div class="info-guide">
                    <p class="tit">확인해 주세요!</p>
                    <div class="desc">
                        <p>입금 전용 가상계좌 또는 평생계좌(휴대폰번호 등)는 자동이체 출금 계좌로 등록할 수 없습니다.</p>
                        <p>법인명의 계좌만 납부 수단으로 등록할 수 있습니다.</p>
                    </div>
                </div>
            </div>

            <div class="form-item">
                <label class="form-label" for="inVoice">자동이체일<span class="required">*</span></label>
                <div class="radio-list form-row mb-14">
                    <div class="radio-group r-box">
                        <input type="radio" id="choice" name="Autopay" value="choice" checked>
                        <label for="choice">
                            <span class="radio-check"></span>
                            <span class="txt">이체일 선택</span>
                        </label>
                    </div>
                
                    <div class="radio-group r-box">
                        <input type="radio" id="direct" name="Autopay" value="direct">
                        <label for="direct">
                            <span class="radio-check"></span>
                            <span class="txt">직접입력</span>
                        </label>
                    </div>
                </div>

                <div id="dateSelectArea" class="radio-list">
                    <div class="radio-group r-btn">
                        <input type="radio" id="radioType3Date5" name="radioType3" value="5">
                        <label for="radioType3Date5">5일</label>
                    </div>
                    <div class="radio-group r-btn">
                        <input type="radio" id="radioType3Date15" name="radioType3" value="15" checked>
                        <label for="radioType3Date15">15일</label>
                    </div>
                    <div class="radio-group r-btn">
                        <input type="radio" id="radioType3Date25" name="radioType3" value="25">
                        <label for="radioType3Date25">25일</label>
                    </div>
                    <div class="radio-group r-btn">
                        <input type="radio" id="radioType3DateLast" name="radioType3" value="last">
                        <label for="radioType3DateLast">말일</label>
                    </div>
                </div>

                <div id="directInputArea" class="direct-input-wrap" style="display:none;">
                    <input type="date" id="payDirectInput" class="form-input js-min-today" data-placeholder="납부일을 선택해 주세요." required>
                    <p class="error-msg" style="display:none;">날짜를 선택해 주세요.</p>
                </div>

                <div class="payment-result-box pay-date">
                    <span class="label">첫회차 납부일</span>
                    <span class="date">2026.03.15</span>
                </div>
                <p class="info-msg" style="display: none;">안전한 약정 처리를 위해 첫 납부일은 오늘(전자약정 진행일)을 기준으로 15일 후부터 31일 이내로만 설정이 가능합니다.</p>
            </div>
        </div>
    </div>

</div>

<div id="bottom-button-wrap">
    <div class="bottom-button-inner">
        <div class="bottom-button-text-wrap">
            <div class="bottom-button-notice">
                <p class="notice">올바른 정보를 입력하셨는지 다시 한번 확인 후 [다음] 버튼을 눌러주세요.</p>
                <p class="notice">입력하신 내용을 기반으로 다음 단계에서 법인 공동인증서 인증을 진행합니다.</p>
            </div>
        </div>
        <div class="btn-area">
            <!-- 솔루션 노출이 필요할 시 button으로 바꿔서 솔루션 연결 -->
            <!-- 기본으로 disabled 속성, 유효성 검사 후 disabled 해제가 맞지만 테스트를 위해 풀어놓음 -->
            <!-- data-action, data-ui는 개발용 삭제 X -->
            <button type="button" class="btn-primary" data-action="goAgree" data-ui="nextBtn" disabled>다음</button>
            <span class="tooltip">모든 필수 정보를 입력해주세요.</span>
        </div>
    </div>
</div>