
<div class="visual-content">
    <h2 class="page-tit">step4-약정서 확인 임시 페이지</h2>
</div>

<div class="layout" style="width: 1200px; height: 900px; border: 1px solid #000;">
    
</div>

<div id="bottom-button-wrap">
    <div class="bottom-button-inner">
        <div class="bottom-button-text-wrap">
            <div class="bottom-button-notice bottom-check-list">
                <div class="check-group rec">
                    <input type="checkbox" id="agreeContractAll">
                    <label for="agreeContractAll">전자서명 또는 인감 업로드를 진행해주세요.</label>
                </div>
            
                <div class="check-group rec">
                    <input type="checkbox" id="agreeLegalGuide">
                    <label for="agreeLegalGuide">서명 완료 후 [완료] 버튼을 눌러 다음 단계로 이동합니다.</label>
                </div>
            </div>
        </div>
        <div class="btn-area">
            <!-- 솔루션 노출이 필요할 시 button으로 바꿔서 솔루션 연결 -->
            <!-- 기본으로 disabled 속성, 유효성 검사 후 disabled 해제가 맞지만 테스트를 위해 풀어놓음 -->
            <a href="#" class="btn-primary">4page 임시 완료</a> 
        </div>
    </div>
</div>

