<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>윈도우 팝업-사용자 확인 암호입력</title>
    <link href="../../resource/css/ui-util.css" rel="stylesheet">
    <script src="../../resource/js/lib/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/lib/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>

    <link rel="stylesheet" href="../css/sample.css" rel="stylesheet">
</head>
<body class="popup">
    <div class="newPop">
        <div class="pop-content password-pop">
            <div class="pop-body">
                <h2 class="guide-tit">사용자확인 암호입력</h2>

                <div class="pop-form-box">
                    <div class="pop-form-row">
                        <label for="userPw" class="label-tit">사용자 암호</label>
                        <span class="ipt-clear password">
                            <input id="userPw" class="login-input alnum" type="password" name="userPw" placeholder="">
                        </span>
                    </div>
                </div>
            </div>
        
            <div class="pop-footer">
                <div class="button-content">
                    <button type="button" class="btn-pop-primary">확인</button>
                    <button type="button" class="btn-pop-secondary">취소</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>