<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width:1200px, initial-scale=1.0" />
    <title>사용자 관리</title>

    <link href="../../resource/css/ui-util.css" rel="stylesheet" />
    <link href="../../resource/css/lib/tui-grid.css" rel="stylesheet" />

    <script src="../../resource/js/lib/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/lib/jquery.form.min.js"></script>
    <script src="../../resource/js/include.js"></script>
    <script src="../../resource/js/nav.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script>
        window.tui = window.tui || {};
        window.tui.DatePicker = window.tui.DatePicker || function () {};
        window.tui.Pagination = window.tui.Pagination || function () {};
        window.XLSX = window.XLSX || {};
    </script>
    <script src="../../resource/js/lib/tui-grid.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- S: 사이드메뉴 -->
        <div data-include-path="../include/inc-nav.html"></div>
        <!-- E: 사이드메뉴 -->

        <main class="contentWrap">
            <!-- S: 시스템 상단 -->
            <div data-include-path="../include/inc-sub-header.html"></div>
            <!-- E: 시스템 상단 -->

            <!-- S: 페이지 상단 -->
            <section class="page-control">
                <div class="control-header">
                    <div>
                        <h2>사용자 정보 관리</h2>
                        <span>사용자 정보 및 담당자 정보를 수정할 수 있습니다</span>
                    </div>
                    <div class="la-button">
                        <button type="button" class="btn-primary">수정</button>
                    </div>
                </div>
            </section>
            <!-- E: 페이지 상단 -->

            <!-- S: 본문 -->
            <section class="page-container">
                <div class="user-content">
                    <div class="user-list">
                        <div class="user-item">
                            <h4>기본정보</h4>
                            <div class="form-content">
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="user-id" class="label-tit">ID</label>
                                        <input id="user-id" type="text" name="user-id" value="Zero00120" disabled="">
                                    </div>
                                    <div class="form-group">
                                        <label for="company-name" class="label-tit">업체명</label>
                                        <input id="company-name" type="text" name="company-name" value="심규남(제로모터스)">
                                    </div>
                                    <div class="form-group">
                                        <label for="office-ctno" class="label-tit">사업자번호</label>
                                        <input id="office-ctno" type="text" name="office-ctno" placeholder="" value="0000000000">
                                    </div>
                                    <div class="form-group">
                                        <label for="office-name" class="label-tit">사업자명(오릭스 전산)</label>
                                        <input id="office-name" type="text" name="office-name" placeholder="" value="심규남(제로모터스)" disabled="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user-list info-text">
                        <div class="user-item">
                            <h4>비밀번호 변경</h4>
                            <div class="form-content">
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="new-password" class="label-tit">비밀번호 변경</label>
                                        <span class="ipt-clear password">
                                            <input id="new-password" type="password" name="new-password" placeholder="">
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-password-cnt" class="label-tit">비밀번호 변경 확인</label>
                                        <span class="ipt-clear password">
                                            <input id="new-password-cnt" type="password" name="new-password-cnt" placeholder="">
                                        </span>
                                    </div>
                                </div>
                                <div class="info-blue">비밀번호는 문자, 숫자 특수문자의 조합으로 8~15자리로 입력하여주세요. <br>
                                    영어대문자(A~Z), 영어소문자(a~z), 숫자(0~9), 특수문자(!, @, #, $, %, ^, &, *, ?, _, ~)
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="user-list">
                        <div class="user-item">
                            <h4>담당자 정보</h4>
                            <div class="form-content">
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <label for="user-id" class="label-tit">담당자 부서</label>
                                        <input id="user-id" type="text" name="user-id" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="company-name" class="label-tit">담당자명</label>
                                        <input id="company-name" type="text" name="company-name" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="office-ctno" class="label-tit">담당자 연락처</label>
                                        <input id="office-ctno" type="text" name="office-ctno" placeholder="" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="office-name" class="label-tit">담당자 이메일</label>
                                        <input id="office-name" type="text" name="office-name" placeholder="" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- E: 본문 -->
        </main>
    </div>
</body>
</html>
