<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>오릭스 A시안 (약정서 확인 및 서명)</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="headerWrap">
            <div class="header-inner">
                <h1 class="logo">
                    <a href="#">
                        <img src="../../resource/images/ORIX_logo.png" alt="오릭스 캐피탈 로고">
                    </a>
                </h1>

                <div class="header-contact">
                    <span class="txt">고객센터</span>
                    <span class="tel">02-2050-6700</span>
                </div>
            </div>
        </div>

        <div id="contentWrap" role="main">
            <div class="contents">
                <ol class="step-area">
                    <li>1</li>
                    <li>2</li>
                    <li class="active">3</li>
                </ol>

                <h2 class="page-tit">약정주요 내용을 확인해주세요</h2>

                <div class="layout-grid">

                    <div class="col-group">
                        <div class="card-box flex-none">
                            <h3 class="card-tit mb-40">고객정보</h3>
                            <div class="info-list">
                                <dl><dt>이름</dt><dd>홍길동</dd></dl>
                                <dl><dt>생년월일</dt><dd>990101</dd></dl>
                            </div>
                        </div>

                        <div class="card-box">
                            <h3 class="card-tit mb-40">상품정보</h3>
                            <div class="info-list">
                                <dl><dt>대여기간</dt><dd>36개월</dd></dl>
                                <dl><dt>보증금</dt><dd>0원</dd></dl>
                                <dl><dt>만기인수가</dt><dd>35,303,000원</dd></dl>
                                <dl><dt>보험조건</dt><dd>대물 1억 / 자손 1억</dd></dl>
                                <dl><dt>정보</dt><dd>없음</dd></dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-group">
                        <div class="card-box">
                            <h3 class="card-tit mb-0">차량정보</h3>
                            
                            <div class="vehicle-view">
                                <div class="img-wrap">
                                    <img src="../../resource/images/gv-70.png" alt="제네시스 GV70 EV 차량 이미지">
                                </div>
                                <p class="sub">AWD 스탠다드</p>
                                <p class="model">GENESIS GV70 EV</p>
                            </div>
                            
                            <hr class="divider">

                            <div class="info-list mb-40">
                                <dl><dt>선택 옵션명</dt><dd>-</dd></dl>
                                <dl><dt>외부색상</dt><dd>녹턴 그레이 매트(무광)</dd></dl>
                                <dl><dt>내부색상</dt><dd>-</dd></dl>
                            </div>

                            <div class="payment-result-box"> 
                                <span class="label">월 납입금</span>
                                <span class="date">840,280</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footerWrap" role="contentinfo">
            <div class="footer-inner">
        
                <div class="footer-agreement">
                    <div class="check-group">
                        <input type="checkbox" id="agreeTerm">
                        <label for="agreeTerm" class="agreeterm">
                            <span class="blue">전자약정 진행을 위해 계약 주요 내용을 확인</span>하였으며, 이에 동의합니다.
                        </label>
                    </div>
                    <p class="sub-txt">※ 본 화면에서 확인한 조건을 기준으로 전자약정서가 생성됩니다.</p>
                </div>

                <div class="btn-area">
                    <a href="#" class="btn-primary btn-lg disabled" aria-disabled="true">다음으로</a>
                    <!-- <button type="button" class="btn-primary btn-lg" disabled>다음으로</button> -->
                </div>

            </div>
        </div>

    </div>

</body>
</html>