<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>오릭스 A시안 (견적 확인)</title>
    
    <link href="../resource/css/ui-util.css" rel="stylesheet">

    <script src="../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../resource/js/jquery.form.min.js"></script>
    <script src="../resource/js/common.js"></script>
</head>
<body>
    <div id="wrap">

        <div id="headerWrap" role="banner">
            <div class="header-inner">
                <h1 class="logo"><a href="#"><img src="../resource/images/ORIX_logo.png" alt="오릭스"></a></h1>
                <div class="header-contact">
                    <span class="txt">고객센터</span>
                    <span class="tel">02-2050-6700</span>
                </div>
            </div>
        </div>

        <div id="contentWrap" role="main">
            <div class="contents">
                <ol class="step-area">
                    <li class="active">1</li>
                    <li>2</li> 
                    <li>3</li>
                </ol>

                <h2 class="page-tit">견적을 확인해주세요</h2>

                <div class="layout-grid">
                    <div class="col-group">
                        <!-- 견적 요약 카드 -->
                        <div class="card-box">
                            <h3 class="card-tit">견적 요약</h3>
                            <div class="payment-result-box first_element">
                                <span class="label">월 납입금</span>
                                <span class="date">840,280 원</span>
                            </div>

                            <ul class="info-list mt-32">
                                <li>
                                    <p class="tit">기간</p>
                                    <p class="desc">36개월</p>
                                </li>
                                <li>
                                    <p class="tit">약정거리</p>
                                    <p class="desc">2만km</p>
                                </li>
                                <li>
                                    <p class="tit">선납리스료</p>
                                    <p class="desc">0원</p>
                                </li>
                                <li>
                                    <p class="tit">보증금</p>
                                    <p class="desc">0원</p>
                                </li>
                                <li>
                                    <p class="tit">잔존가치</p>
                                    <p class="desc">(52%) 00,000,000 원</p>
                                </li>
                                <li>
                                    <p class="tit">오릭스정비</p>
                                    <p class="desc">오릭스 정비 Premium</p>
                                </li>
                            </ul>
                        </div>

                        <!-- 담당자 연락처 카드 -->
                        <div class="card-box">
                            <h3 class="card-tit">담당자 연락처</h3>
                            <ul class="info-list">
                                <li>
                                    <p class="tit">이름</p>
                                    <p class="desc">김오릭</p>
                                </li>
                                <li>
                                    <p class="tit">소속</p>
                                    <p class="desc">오릭스캐피탈코리아 오토리스 영업2팀</p>
                                </li>
                                <li>
                                    <p class="tit">전화번호</p>
                                    <p class="desc">010-1234-5678</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-group">
                        <div class="card-box">
                            <h3 class="card-tit">차량정보</h3>
                            <div class="payment-result-box ver2 first_element">
                                <span class="label">차량가격</span>
                                <span class="date">34,500,000 원</span>
                            </div>

                            <div class="vehicle-view mt-32">
                                <div class="img-wrap"><img src="../resource/images/gv-70.png" alt="차량 이미지"></div>
                                <p class="sub">가솔린 터보 1.6 하이브리드 익스클루시브</p>
                                <p class="model">현대 2025년형 디 올 뉴 그랜저</p>
                            </div>
                            
                            <hr class="divider">

                            <ul class="info-list">
                                <li>
                                    <p class="tit">색상</p>
                                    <p class="desc">
                                        <span>큐레이티드 실버 메탈릭 / 외장</span>
                                        <span>다크 그레이/라이트 그레이 투톤 / 내장</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="tit">옵션</p>
                                    <p class="desc">
                                        <span>파노라마 선루프</span>
                                        <span>현대 스마트 센스 패키지 I</span>
                                        <span>JBL 사운드 패키지</span>
                                        <span>컨비니언스 패키지</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footerWrap" role="contentinfo">
            <div class="footer-inner">
                <div class="footer-notice">
                    <p class="notice-tit">계약하시려는 차량의 견적 사항이 맞는지 확인해주세요.</p>
                    <p class="sub-txt">※ 내용에 이상이 없을 경우, [다음] 버튼을 통해 계좌 및 납부 정보 등록 화면으로 이동하실 수 있습니다.</p>
                </div>
                <div class="btn-area">
                    <a href="./ORIX-CRTF-ACIN-001.html" class="btn-primary">다음</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>