<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>오릭스 A시안 (전자약정 완료)</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>
</head>
<body>
    <div id="wrap" class="complete-page">
        <!-- 헤더 -->
        <div data-include-path="../include/inc-header.html"></div>

        <!-- 중앙 컨텐츠 -->
        <div id="contentWrap" role="main" >
            <div class="contents">
                
                <div class="complete-container">
                    <div class="complete-visual"></div>
                    <h2 class="complete-tit">
                        법인전자약정 신청이 정상적으로 <span class="blue">완료</span>되었습니다.
                    </h2>
                    <p class="complete-desc">
                        접수된 정보는 담당자가 신속하게 확인한 후 승인 처리를 진행할 예정입니다.
                    </p>

                    <div class="table-content">
                        <table>
                            <colgroup>
                                <col style="width: 30%;">
                                <col style="width: 70%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">약정번호</th>
                                    <td>Abc202600-00000</td>
                                </tr>
                                <tr>
                                    <th scope="row">약정일시</th>
                                    <td>2026.02.20 15:00:00</td>
                                </tr>
                                <tr>
                                    <th scope="row">고객명(법인명)</th>
                                    <td>(주)홍길동컴퍼니</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="complete-notice-box">
                        <p class="tit">확인해 주세요!</p>
                        <div class="desc">
                            <p>본 화면을 나가신 후에는 보안 및 데이터 중복 방지를 위해 동일한 URL을 통한 재진입이 제한됩니다.</p>
                            <p>제출이 완료된 약정 건은 심사 시스템으로 자동 전송되므로, 단순 변심에 의한 계약 취소 문의는 접수가 어렵습니다. 착오 기재로 인한 반려 처리가 필요한 경우에만 고객센터를 이용해 주세요.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-include-path="../include/inc-footer.html"></div>
    </div>
</body>
</html>