<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>승인대기 &gt; 제출완료</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>
</head>
<body>
    <div id="wrap" class="complete-page">
        <!-- 헤더 -->
        <!-- 
            D : 아래 inc-header.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-header.html 확인하시면 됩니다.
        -->
        <div id="headerWrap"></div>
        <script src="../include/inc-header.js"></script>

        <!-- 개발 확인용 헤더 인클루드 -->
        <!-- <div data-include-path="../include/inc-header.html"></div> -->

        <!-- 중앙 컨텐츠 -->
        <div id="contentWrap" role="main" >
            <div class="contents">
                
                <div class="complete-container">
                    <div class="complete-visual"></div>
                    <h2 class="complete-tit">
                        법인전자약정 신청이 정상적으로 <span class="blue">접수</span>되었습니다.
                    </h2>
                    <p class="complete-desc">
                        안전한 계약 체결을 위해 대표자 본인 확인이 필요하여, 대표자 명의의 휴대폰으로 인증 문자(SMS)가 발송될 예정입니다.<br> 대표자 인증이 완료되면 담당자 확인 후 승인 처리가 진행됩니다.
                    </p>

                    <div class="table-content">
                        <table>
                            <colgroup>
                                <col style="width: 30%;">
                                <col style="width: 70%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">약정번호</th>
                                    <td>Abc202600-00000</td>
                                </tr>
                                <tr>
                                    <th scope="row">약정일시</th>
                                    <td>2026.02.20 15:00:00</td>
                                </tr>
                                <tr>
                                    <th scope="row">고객명(법인명)</th>
                                    <td>(주)홍길동컴퍼니</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="complete-notice-box">
                        <p class="tit">꼭 확인해 주세요!</p>
                        <div class="desc">
                            <p>해당 계약 건에 대해서는 신청이 완료된 건으로 전환되어, 본 화면을 벗어나면 보안 및 데이터 중복 방지를 위해 더 이상 ‘전자약정 목록’에서 조회 및 수정할 수 없습니다.</p>
                            <p>제출이 완료된 계약 건은 대표자에게 인증 SMS가 발송되며, 심사 시스템으로 자동 이관되므로 단순 변심에 의한 계약 취소 문의는 접수가 어렵습니다. 착오 기재로 인한 반려 처리가 필요한 경우에만 고객센터를 이용해 주세요.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
            D : 아래 inc-footer.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-footer.html 확인하시면 됩니다.
        -->
        <div id="footerWrap"></div>
        <script src="../include/inc-footer.js"></script>

        <!-- 개발 확인용 푸터 인클루드 -->
        <!-- <div data-include-path="../include/inc-footer.html"></div> -->
    </div>
</body>
</html>