<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>진입화면</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>

</head>

<body>
    <div id="wrap" class="main-page">
        <div id="headerWrap">
            <div class="header-inner">
                <h1 class="logo">
                    <a href="#"><img src="../../resource/images/ORIX_logo.png" alt="오릭스"></a>
                </h1>

                <nav class="main-nav">
                    <ul>
                        <li class="nav-item-badge">
                            <div class="cs-badge">
                                <span class="label">고객센터</span>
                                <span class="tel">02-2050-6700</span>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div id="contentWrap">
            <div class="main-visual">
                <div class="main-copy">
                    <p class="main-eyebrow">계약 확인부터 서명까지,</p>
                    <h2 class="main-title">
                        영업점 방문 없이<br>
                        <span class="lg"><em>전자상</em>으로 간편하게!</span>
                    </h2>
                    <p class="main-desc">Trust built into every signature. ORIX Corporate Electronic Agreement</p>
                </div>

                <a href="../entr/ORIX-CEAG-ENTR-003.html" class="main-start-btn">
                    <span>시작하기</span>
                </a>

                <div class="main-notice">
                    <div class="notice-label">안내사항</div>
                    <div class="notice-content">
                        <p class="notice-main">
                            본 서비스는 Chrome 및 Edge 브라우저에 최적화되어 있습니다. 소중한 계약정보를 안전하고 정확하게<br>
                            입력하실 수 있도록 가급적 권장 브라우저를 사용해 주세요.
                        </p>
                        <p class="notice-sub">본 서비스는 안전한 보안을 위해 안내 고지일로부터 3영업일 동안만 진행 가능합니다. (서비스 이용 가능 시간 : 평일 09:00 ~ 22:00) 기한이 지나면 약정 진행이 어려울 수 있으니, 안내받으신 날짜를 꼭 확인해 주세요.</p>
                        <p>문제 발생 시, 상단의 고객센터로 문의해 주시기 바랍니다.</p>
                    </div>
                </div>

            </div>
        </div>
        <div id="footerWrap" role="contentinfo">
            <div class="footer-inner">
                <div class="footer-add">
                    <p>06210 서울시 강남구 테헤란로 306(역삼동) 카이트타워13층</p>
                    <p>
                        <span>대표이사 : 박철수</span>
                        <span>사업자등록번호 : 120-86-63282</span>
                    </p>
                </div>

                <p class="footer-copy">
                    <span>Copyrightⓒ 2026 <em>ORIX Capital Korea</em> Corporation. All right reserved.</span>
                </p>
            </div>
        </div>
    </div>
</body>

</html>
