<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>진입 오류 화면(서비스 이용 시간 오류) &gt; 진입화면</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>
</head>
<body>
    <div id="wrap" class="s-ready-page">
        <div id="headerWrap">
            <div class="header-inner">
                <h1 class="logo"><a href="#"><img src="../../resource/images/ORIX_logo.png" alt="오릭스"></a></h1>
                <div class="header-contact">
                    <span class="txt">고객센터</span>
                    <span class="tel">02-2050-6700</span>
                </div>
            </div>
        </div>

        <div id="contentWrap">
            <div class="contents">
                <div class="s-ready-container">

                    <div class="s-ready-visual"></div>

                    <h2 class="s-ready-tit">
                        <span>지금은 전자약정 서비스를 이용하실 수 없습니다.</span>
                    </h2>

                    <div class="s-ready-info-box">
                        <p class="s-ready-desc">
                            안전한 금융 거래 처리를 위해 정해진 이용 시간 외에는 서비스 이용이 제한됩니다. <br>
                            서비스 이용 가능 시간을 확인하신 후 해당 시간에 다시 시도해 주세요.
                        </p>
                        <!-- URL 유효기간이 만료된 경우 주석 해제 -->
                        <!-- <p class="error-desc">
                            URL 유효기간이 만료되었습니다. <br>
                            오릭스캐피탈 고객센터 또는 담당자에게 연락해주세요.
                        </p> -->
                    </div>
                    <div class="service-time-box">
                        <p class="label">서비스 이용 가능 시간 <!-- <span>(평일)</span> --></p>
                        <strong class="time">08:30 ~ 22:00</strong>
                    </div>
                    
                    <div class="btn-area error">
                        <button type="button" class="btn-primary">홈으로 이동</button>
                    </div>
                    <!-- <div class="btn-area sm-button">
                        <a href="./ORIX-CRTF-MAIN-001.html" class="btn-primary sm-button">처음으로 이동</a>
                    </div> -->
                </div>

            </div>
        </div>
        <!-- 
            D : 아래 inc-footer.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-footer.html 확인하시면 됩니다.
        -->
        <div id="footerWrap"></div>
        <script src="../include/inc-footer.js"></script>

        <!-- 개발 확인용 푸터 인클루드 -->
        <!-- <div data-include-path="../include/inc-footer.html"></div> -->
    </div>
</body>
</html>