<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>진입 오류 화면 &gt; 진입화면</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>
</head>
<body>
    <div id="wrap" class="error-page">
        <!-- 
            D : 아래 inc-header.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-header.html 확인하시면 됩니다.
        -->
        <div id="headerWrap"></div>
        <script src="../include/inc-header.js"></script>

        <!-- 개발 확인용 헤더 인클루드 -->
        <!-- <div data-include-path="../include/inc-header.html"></div> -->

        <div id="contentWrap">
            <div class="contents">
                <div class="error-container">

                    <div class="error-visual"></div>

                    <h2 class="error-tit">
                        진행 가능한 <span class="red-txt">전자약정 내역</span>이 없습니다.
                    </h2>

                    <div class="error-info-box">
                        <p class="error-desc">
                            약정기간이 만료되었거나, 이미 모든 약정이 완료되어 진행 가능한 계약 건이 없습니다. <br>
                            추가 계약 또는 약정 재발행이 필요하신 경우, 오릭스캐피탈코리아 고객센터 또는 계약 담당자에게 문의해 주세요.
                        </p>
                        <!-- URL 유효기간이 만료된 경우 주석 해제 -->
                        <!-- <p class="error-desc">
                            URL 유효기간이 만료되었습니다. <br>
                            오릭스캐피탈 고객센터 또는 담당자에게 연락해주세요.
                        </p>
 -->
                        <!-- 화면설계서 오류 메시지 참고 하여 error-desc 수정 -->
                    </div>

                    <div class="btn-area error">
                        <button type="button" class="btn-primary">홈으로 이동</button>
                    </div>
                </div>

            </div>
        </div>

        
        <!-- 
            D : 아래 inc-footer.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-footer.html 확인하시면 됩니다.
        -->
        <div id="footerWrap"></div>
        <script src="../include/inc-footer.js"></script>

        <!-- 개발 확인용 푸터 인클루드 -->
        <!-- <div data-include-path="../include/inc-footer.html"></div> -->
    </div>
</body>
</html>