<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>오릭스 전자약정</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
</head>
<body>
    <div id="wrap" class="s-ready-page">
        <div id="headerWrap">
            <div class="header-inner">
                <h1 class="logo"><a href="#"><img src="../../resource/images/ORIX_logo.png" alt="오릭스"></a></h1>
                <div class="header-contact">
                    <span class="txt">고객센터</span>
                    <span class="tel">02-2050-6700</span>
                </div>
            </div>
        </div>

        <div id="contentWrap">
            <div class="contents">
                <div class="s-ready-container">

                    <div class="s-ready-visual"></div>

                    <h2 class="s-ready-tit">
                        <span>서비스 오픈 준비중</span>
                    </h2>

                    <div class="s-ready-info-box">
                        <p class="s-ready-desc">
                            이용에 불편을 드려 죄송합니다. 해당 메뉴는 현재 오픈 준비중이며,<br>
                            곧 정상 서비스될 예정입니다. 
                        </p>
                        <!-- URL 유효기간이 만료된 경우 주석 해제 -->
                        <!-- <p class="error-desc">
                            URL 유효기간이 만료되었습니다. <br>
                            오릭스캐피탈 고객센터 또는 담당자에게 연락해주세요.
                        </p> -->
                    </div>
                    <div class="btn-area">
                        <a href="./ORIX-CRTF-MAIN-001.html" class="btn-primary">처음으로 이동</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>