<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>계약대상 식별 화면 &gt; 진입화면</title>

    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>

</head>
<body> <!-- js로 로딩 팝업 끝날 시 auto로 변경 -->
    <div id="wrap">
        <!-- 
            D : 아래 inc-header.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-header.html 확인하시면 됩니다.
        -->
        <div id="headerWrap"></div>
        <script src="../include/inc-header.js"></script>

        <!-- 개발 확인용 헤더 인클루드 -->
        <!-- <div data-include-path="../include/inc-header.html"></div> -->

        <div id="contentWrap" role="main">
            <div class="contents">
                <div class="visual-content">
                    <h2 class="page-tit">
                        법인 공동인증서로 로그인해 주세요.
                    </h2>
                    <p class="s-tit">
                        안전한 약정거래를 위한 본인 확인절차로 사업자등록번호를 정확하게 입력하신 후, 법인 공동인증서로 로그인을 진행해 주세요.
                        <br>
                        페이지 이탈 또는 뒤로가기를 진행하실 경우 입력하신 모든 정보가 초기화 되어 재인증이 필요할 수 있습니다. 화면전환에 주의해 주세요.
                    </p>
                </div>
                <div class="layout-grid">
                    <div class="col-group term">
                        <div class="card-box">
                            <h3 class="card-tit cert">인증 전 꼭 확인해주세요!</h3>
                            <div class="info-guide type-big">
                                <ul class="guide-list">
                                    <li>
                                        현재 사용중인 PC 또는 보안매체(USB 등)에 법인용 공동인증서가 저장되어 있는지 확인해 주세요.
                                        <ul class="bul-refer">
                                            <li>개인용/금융투자용 사용 불가</li>
                                        </ul>
                                    </li>
                                    <li>인증서의 유효기간이 만료되지 않았는지 확인해 주세요.</li>
                                    <li>법인 공동인증서의 비밀번호를 미리 준비해 주세요.</li>
                                    <li>대리인이 진행하는 경우에도 개인명의가 아닌 법인 명의의 공동인증서가 필요합니다.</li>
                                </ul>
                            </div>

                        </div>
                        <!-- S: 컨텐츠 좌우로 추가 시 col-group 생성 후(좌1 우1 생성) card-box를 col-group으로 빼는 작업 필요 -->
                        <div class="card-box">
                            <h3 class="card-tit">법인 정보 확인</h3>
                            <div class="form-item">
                                <label class="form-label" for="BRN">사업자 등록번호<span class="required">*</span></label>
                                <input id="BRN" type="text" name="BRN" class="form-input" placeholder="사업자 등록번호를 입력해 주세요.">
                                <p class="error-msg" style="display: none;">사업자 등록번호를 입력해 주세요.</p>
                            </div>
                        </div>
                        <!-- E: 컨텐츠 좌우로 추가 시 col-group 생성 후(좌1 우1 생성) card-box를 col-group으로 빼는 작업 필요 -->
                    </div>
                </div>
            </div>

            <div id="bottom-button-wrap">
                <div class="bottom-button-inner">
                    <!-- <div class="bottom-button-text-wrap">
                        <div class="bottom-button-notice">
                            <p class="notice">타인의 접근을 차단하고, 계약 대상을 식별하기 위한 절차로</p>
                            <p class="notice">계약 시 등록하신 정보가 기억나지 않으실 경우, 고객센터 또는 계약 담당자에게 문의하시기 바랍니다.</p>
                        </div>
                    </div> -->
                    <div class="btn-area">
                        <a href="../prog/ORIX-CEAG-PROG-003.html" class="btn-primary">법인 공동인증서로 로그인</a> <!-- 솔루션 노출이 필요할 시 button으로 바꿔서 솔루션 연결 -->
                    </div>
                </div>
            </div>
        </div>

        <!-- 
            D : 아래 inc-footer.js는 퍼블용 인클루드 소스입니다.
            개발에서는 ../include/inc-footer.html 확인하시면 됩니다.
        -->
        <div id="footerWrap"></div>
        <script src="../include/inc-footer.js"></script>

        <!-- 개발 확인용 푸터 인클루드 -->
        <!-- <div data-include-path="../include/inc-footer.html"></div> -->
    </div>
</body>
</html>
