<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>계약대상 식별 화면 &gt; 진입화면</title>

    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>

</head>
<body> <!-- js로 로딩 팝업 끝날 시 auto로 변경 -->
    <div id="wrap">
        <div data-include-path="../include/inc-header.html"></div>

        <div id="contentWrap" role="main">
            <div class="contents">
                <div class="visual-content">
                    <h2 class="page-tit">
                        계약 시, 
                        <span class="blue">등록하신 정보 </span>
                        를 입력해 주세요.
                    </h2>
                    <p class="s-tit">입력하신 정보와 일치하는 전자약정 대상 계약 건을 조회합니다. 정확한 계약 건 조회를 위해 계약 시, 등록하신 정보와 동일하게 입력해 주세요.</p>
                </div>
                <div class="layout-grid">
                    <div class="col-group term">
                        <div class="card-box">
                            <h3 class="card-tit">이메일</h3>
                            <div class="form-item">
                                <label class="form-label" for="eMail">이메일</label>
                                <input id="eMail" type="text" name="eMail" class="form-input" placeholder="계약 시 등록하신 이메일 주소를 입력해 주세요.">
                            </div>
                            <div class="form-item">
                                <label class="form-label" for="pNumber">전화번호</label>
                                <input id="pNumber" type="text" name="pNumber" class="form-input" placeholder="계약 시 등록하신 전화번호를 입력해 주세요.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="bottom-button-wrap">
                <div class="bottom-button-inner">
                    <div class="bottom-button-text-wrap">
                        <div class="bottom-button-notice">
                            <p class="notice">타인의 접근을 차단하고, 계약 대상임을 식별하기 위한 절차로</p>
                            <p class="notice">계약 시 등록하신 정보가 기억나지 않으실 경우, 고객센터 또는 계약 담당자에게 문의하시기 바랍니다.</p>
                        </div>
                    </div>
                    <div class="btn-area">
                        <a href="../prog/ORIX-CEAG-PROG-003.html" class="btn-primary">다음</a> <!-- 솔루션 노출이 필요할 시 button으로 바꿔서 솔루션 연결 -->
                    </div>
                </div>
            </div>
        </div>

        <div data-include-path="../include/inc-footer.html"></div>
    </div>
</body>
</html>
