<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>오릭스 전자약정</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
</head>
<body>
    <div id="wrap" class="error-page">
        <div id="headerWrap">
            <div class="header-inner">
                <h1 class="logo"><a href="#"><img src="../../resource/images/ORIX_logo.png" alt="오릭스"></a></h1>
                <div class="header-contact">
                    <span class="txt">고객센터</span>
                    <span class="tel">02-2050-6700</span>
                </div>
            </div>
        </div>

        <div id="contentWrap">
            <div class="contents">
                <div class="error-container">

                    <div class="error-visual"></div>

                    <h2 class="error-tit">
                        <span class="red-txt">서비스장애</span>가 발생하였습니다.
                    </h2>

                    <div class="error-info-box">
                        <p class="error-desc">
                            보안 유지를 위해 브라우저의 뒤로가기 및 새로고침 기능을<br>
                            제한하고 있습니다. 비정상적인 접근으로 데이터 보호를 위해 처음<br>
                            본인인증 단계부터 다시 진행해 주세요.
                        </p>
                        <!-- URL 유효기간이 만료된 경우 주석 해제 -->
                        <!-- <p class="error-desc">
                            URL 유효기간이 만료되었습니다. <br>
                            오릭스캐피탈 고객센터 또는 담당자에게 연락해주세요.
                        </p> -->

                        <!-- 화면설계서 오류 메시지 참고 하여 error-desc 수정 -->
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>