<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>메인 공지사항 - view</title>
    <link href="../../resource/css/ui-util.css" rel="stylesheet">
    <script src="../../resource/js/lib/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/lib/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
</head>
<body>
    <section class="modal-container">
        <div id="notiDetl" class="layerPopup modal notice-layer on">
            <div class="pop-content notice-pop notice-detl">
                <div class="popup">
                    <div class="newPop">
                        <div class="pop-header">
                            <h1>공매 공지사항 관리</h1>
                            <button type="button" class="pop-close-btn">닫기</button>
                        </div>
        
                        <div class="pop-main">
                            <div class="pop-body">
                                <div class="view-header">
                                    <span class="date">2026/03/06</span>
                                    <h4>26년 3월 1차 공매_차량검수3일(3/9 월 ~ 3/11 수), 입찰기한(3/11 수 5시) 주차장 평택 217대</h4>
        
                                    <div class="file-wrap">
                                        <ul class="file-list">
                                            <li>
                                                <a href="#none" class="file-link">202603.xlsx</a>
                                                <div class="sm-button">
                                                    <button type="button" class="btn-icon download">다운로드</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
        
                                <div class="view-cont">
                                    내용영역
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        /* S : 26.04.24 공지사항 view, editor 퍼블 확인용 임시 스크립트 */
        $(function () {
            $(document).on('click', '.pop-close-btn', function (e) {
                e.preventDefault();
                $(this).closest('.layerPopup').removeClass('on');
                $('body').css('overflow', 'auto');
            });
        });
        /* E : 26.04.24 공지사항 view, editor 퍼블 확인용 임시 스크립트 */
    </script>
</body>
</html>
