<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>오릭스 공매입찰관리 메인</title>

        <link href="../../resource/css/ui-util.css" rel="stylesheet" />
        <script src="../../resource/js/lib/jquery-1.11.3.min.js"></script>
        <script src="../../resource/js/lib/jquery.form.min.js"></script>
        <script src="../../resource/js/include.js"></script>
        <script src="../../resource/js/nav.js"></script>
        <script src="../../resource/js/common.js"></script>
    </head>

    <body class="main-body">
        <div class="wrap main-wrap main-page">
            <!-- S: 사이드메뉴 -->
            <div data-include-path="../include/inc-nav.html"></div>
            <!-- E: 사이드메뉴 -->
            <main class="contentWrap">
                <div data-include-path="../include/inc-main-header.html"></div>
                <section class="main-content">
                    <div class="hero-layout">
                        <div class="hero-copy">
                            <p class="sub-copy">
                                <strong>공매입찰관리의 새로운 기준</strong>
                                The New Standard in Vehicle Auction Management
                            </p>
                            <p class="main-copy">
                                공매입찰 정보를<br />
                                <em>[ 한눈에 ]</em> 정리해 확인하세요
                            </p>
                            <a href="../bidg/ORIX-AUTS-BIDG-001.html" class="hero-btn">공매입찰관리 바로가기</a>
                        </div>

                        <div class="notice-panel">
                            <div class="notice-head">
                                <h2>공지사항</h2>
                                <div class="notice-actions">
                                    <button type="button" class="notice-action js-open-editer-pop" aria-label="공지사항 등록">
                                        <img src="../../resource/images/com/svg/notice_register.svg" alt="" />
                                    </button>
                                </div>
                            </div>
                            <ul id="noticeList" class="notice-list"></ul>
                        </div>
                    </div>
                </section>

                <div class="page-footer">
                    Copyright(c) 2014 ORIX Capital Korea Corporation. All rights reserved
                </div>
            </main>
        </div>

        <div id="legacyGrid">
            <script>
                document.write('<object id="grdSheet01" width="100%" height="100%" classid="clsid:1F57AEAD-DB12-11D2-A4F9-00608CEBEE49" codebase="/autocomm/ocx/toinb/toinbgrid.cab#version=1,1,0,122"></object>');
            </script>
        </div>

        <!-- S : 26.04.24 모달 확인용 -->
        <section class="modal-container">
            <div id="notiDetl" class="layerPopup modal notice-layer">
                <div class="pop-content notice-pop notice-detl">
                    <div class="popup">
                        <div class="newPop">
                            <div class="pop-header">
                                <h1>공매 공지사항 관리</h1>
                                <button type="button" class="pop-close-btn">닫기</button>
                            </div>
            
                            <div class="pop-main">
                                <div class="pop-body">
                                    <div class="view-header">
                                        <span class="date">2026/03/06</span>
                                        <h4>26년 3월 1차 공매_차량검수3일(3/9 월 ~ 3/11 수), 입찰기한(3/11 수 5시) 주차장 평택 217대</h4>
            
                                        <div class="file-wrap">
                                            <ul class="file-list">
                                                <li>
                                                    <a href="#none" class="file-link">202603.xlsx</a>
                                                    <div class="sm-button">
                                                        <button type="button" class="btn-icon download">다운로드</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
            
                                    <div class="view-cont">
                                        내용영역
                                    </div>
                                </div>
            
                                <!-- view는 footer 없으면 그대로 생략 -->
                                <!--
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-secondary btn-close-pop">닫기</button>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="modal-container">
            <div id="notiSave" class="layerPopup modal notice-layer">
                <div class="pop-content notice-pop notice-save">
                    <div class="popup">
                        <div class="newPop">
                            <div class="pop-header">
                                <h1>공매 공지사항 관리</h1>
                                <button type="button" class="pop-close-btn">닫기</button>
                            </div>
        
                            <div class="pop-main">
                                <div class="pop-body notice-write-pop">
                                    <div class="form-content">
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <div class="flex-row">
                                                    <label for="noticeDate" class="label-tit">공지일자</label>
                                                    <div class="field-box">
                                                        <input type="text" id="noticeDate" value="2026/03/27">
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="form-group">
                                                <div class="flex-row">
                                                    <label for="noticeNo" class="label-tit">공지번호</label>
                                                    <div class="field-box">
                                                        <input type="text" id="noticeNo">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <div class="flex-row">
                                                    <label for="noticeTitle" class="label-tit">제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목</label>
                                                    <div class="field-box">
                                                        <input type="text" id="noticeTitle">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="file-wrap">
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="첨부파일을 등록하세요" tabindex="0" readonly />
                                            </span>
                                            <label class="upload-label" for="files1">
                                                <input id="files1" class="upload" name="files1" type="file" />
                                                <span class="fileLabel">첨부파일</span>
                                            </label>
                                        </span>
        
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="첨부파일을 등록하세요" tabindex="0" readonly />
                                            </span>
                                            <label class="upload-label" for="files2">
                                                <input id="files2" class="upload" name="files2" type="file" />
                                                <span class="fileLabel">첨부파일</span>
                                            </label>
                                        </span>
        
                                        <span class="ipt-file">
                                            <span class="ipt-clear">
                                                <input class="form-control upload-text uploadInput" type="text" placeholder="첨부파일을 등록하세요" tabindex="0" readonly />
                                            </span>
                                            <label class="upload-label" for="files3">
                                                <input id="files3" class="upload" name="files3" type="file" />
                                                <span class="fileLabel">첨부파일</span>
                                            </label>
                                        </span>
                                    </div>
        
                                    <div class="notice-editor-area">
                                        에디터 영역입니다.
                                    </div>
                                </div>
        
                                <div class="pop-footer">
                                    <div class="button-content">
                                        <button type="button" class="btn-pop-secondary">삭제</button>
                                        <button type="button" class="btn-pop-primary">등록</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- E : 26.04.24 모달 확인용 -->
         
        <script>
            /* ================================================================
            1. 더미 데이터 (디자인 확인용)
            - ActiveX Grid 데이터가 없을 때 사용
            - 화면 UI 확인용 임시 데이터
            ================================================================ */
            var mockData = [
                { date: "2026/03/06", title: "26년 3월 1차 공매 - 차량검수 3일(3/9 월 ~ 3월11 수), 입찰기한 (3/11 수 5시)", isNew: true },
                { date: "2024/11/28", title: "오릭스 사업자등록증" },
                { date: "2024/09/23", title: "입금계좌 안내" },
                { date: "2024/09/06", title: "[초기설정] 일괄 입찰용 파일 설치 안내" },
                { date: "2024/09/06", title: "[초기설정] Chrome, Edge에서 사이트 접속 설정" },
                { date: "2024/09/06", title: "[초기설정] Chrome, Edge에서 사이트 접속 설정" },
                { date: "2024/09/06", title: "[초기설정] Chrome, Edge에서 사이트 접속 설정" }
            ];

            /* ================================================================
            2. 공통 유틸 함수
            ================================================================ */
            /**
             * HTML 특수문자 치환
             * - 문자열을 그대로 HTML에 출력할 때 태그로 해석되는 것을 방지
             * - XSS 및 마크업 깨짐 방지 목적
            */
            function escapeHtml(value) {
                return String(value)
                    .replace(/&/g, "&amp;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/"/g, "&quot;")
                    .replace(/'/g, "&#39;");
            }

            /* ================================================================
            3. UI 렌더링
            ================================================================ */
            /**
             * 공지사항 리스트 렌더링
             * - 데이터 배열을 받아 HTML 문자열 생성 후 DOM에 반영
             * - Grid 데이터 / 더미 데이터 공통 사용
            */
            function renderNoticeList(data) {
                var listHtml = "";
                var i;
                var item;

                for (i = 0; i < data.length; i++) {
                    item = data[i];
                    listHtml += '<li>';
                    listHtml += '    <a href="#none">';
                    listHtml += '        <span class="notice-date">[' + escapeHtml(item.date) + ']</span>';
                    listHtml += '        <span class="notice-title">' + escapeHtml(item.title);

                    if (item.isNew) {
                        listHtml += '<span class="badge-new">NEW</span>';
                    }

                    listHtml += "        </span>";
                    listHtml += '        <span class="notice-link"></span>';
                    listHtml += "    </a>";
                    listHtml += "</li>";
                }

                $("#noticeList").html(listHtml);
            }

            /* ================================================================
            4. 데이터 처리 (ActiveX -> JS 변환)
            ================================================================ */
            /**
             * ActiveX Grid 데이터 조회
             * - grdSheet01에서 공지 데이터를 읽어 JS 배열로 변환
             * - Grid가 없으면 빈 배열 반환
            */
            function getGridData() {
                var result = [];
                var rowCount;
                var i;
                var title;

                if (!window.grdSheet01 || !window.grdSheet01.RowCount) {
                    return result;
                }

                rowCount = grdSheet01.RowCount;

                for (i = 1; i <= rowCount; i++) {
                    title = grdSheet01.GetCellValue(i, "TITLE");

                    result.push({
                        date: grdSheet01.GetCellValue(i, "NOTICE_DATE"),
                        title: title,
                        isNew: false
                    });
                }

                return result;
            }

            /* ================================================================
            5. 초기 실행
            ================================================================ */
            /**
             * 공지사항 초기 렌더링
             * - Grid 데이터 우선 사용
             * - 없으면 더미 데이터 사용
            */
            $(function () {
                var realData = getGridData();

                if (realData.length) {
                    renderNoticeList(realData);
                    return;
                }

                renderNoticeList(mockData);
            });

            /* S : 26.04.24 공지사항 view, editor 퍼블 확인용 임시 스크립트 */
            $(function () {
                $('#noticeList').on('click', '.notice-title, .notice-link', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('#notiDetl').addClass('on');
                    $('body').css('overflow', 'hidden');
                });

                $('.js-open-editer-pop').on('click', function () {
                    $('#notiSave').addClass('on');
                    $('body').css('overflow', 'hidden');
                });

                $(document).on('click', '.pop-close-btn', function (e) {
                    e.preventDefault();
                    $(this).closest('.layerPopup').removeClass('on');
                    $('body').css('overflow', 'auto');
                });
            });
            /* E : 26.04.24 공지사항 view, editor 퍼블 확인용 임시 스크립트 */
        </script>
    </body>
</html>
