<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>메인 공지사항 - write</title>
    <link href="../../resource/css/ui-util.css" rel="stylesheet">
    <script src="../../resource/js/lib/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/lib/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
</head>
<body class="popup">
    <div class="newPop">
        <div class="pop-header">
            <h1>공매 공지사항 관리</h1>
        </div>

        <div class="pop-content">
            <div class="pop-body notice-write-pop">
                <div class="form-content">
                    <div class="form-wrap">
                        <div class="form-group">
                            <div class="flex-row">
                                <label for="noticeDate" class="label-tit">공지일자</label>
                                <div class="field-box">
                                    <input type="text" id="noticeDate" value="2026/03/27">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="flex-row">
                                <label for="noticeNo" class="label-tit">공지번호</label>
                                <div class="field-box">
                                    <input type="text" id="noticeNo">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <div class="form-group">
                            <div class="flex-row">
                                <label for="noticeTitle" class="label-tit">제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목</label>
                                <div class="field-box">
                                    <input type="text" id="noticeTitle">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="file-wrap">
                    <span class="ipt-file">
                        <span class="ipt-clear">
                            <input class="form-control upload-text uploadInput" type="text" placeholder="첨부파일을 등록하세요" tabindex="0" readonly />
                        </span>
                        <label class="upload-label" for="files1">
                            <input id="files1" class="upload" name="files1" type="file" />
                            <span class="fileLabel">첨부파일</span>
                        </label>
                    </span>

                    <span class="ipt-file">
                        <span class="ipt-clear">
                            <input class="form-control upload-text uploadInput" type="text" placeholder="첨부파일을 등록하세요" tabindex="0" readonly />
                        </span>
                        <label class="upload-label" for="files2">
                            <input id="files2" class="upload" name="files2" type="file" />
                            <span class="fileLabel">첨부파일</span>
                        </label>
                    </span>

                    <span class="ipt-file">
                        <span class="ipt-clear">
                            <input class="form-control upload-text uploadInput" type="text" placeholder="첨부파일을 등록하세요" tabindex="0" readonly />
                        </span>
                        <label class="upload-label" for="files3">
                            <input id="files3" class="upload" name="files3" type="file" />
                            <span class="fileLabel">첨부파일</span>
                        </label>
                    </span>
                </div>


                <div class="notice-editor-area" style="width:100%; height:380px; border:1px solid #000;">
                    에디터 영역입니다.
                </div>
            </div>

            <div class="pop-footer">
                <div class="button-content">
                    <button type="button" class="btn-pop-secondary">삭제</button>
                    <button type="button" class="btn-pop-primary">등록</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>