<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>본인인증 화면 &gt; 본인인증</title>

    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
    <script src="../../resource/js/include.js"></script>
</head>
<body> <!-- js로 로딩 팝업 끝날 시 auto로 변경 -->
    <div id="wrap">
        <div data-include-path="../include/inc-header.html"></div>

        <div id="contentWrap" role="main">
            <div class="contents">
                <div class="visual-content">
                    <div class="visual-content">
                        <h2 class="page-tit"><span class="blue">본인 확인을</span> 진행해 주세요.</h2>
                        <p class="s-tit">정당한 권한을 지닌 분이 약정을 진행하고 있음을 확인하는 필수 절차로, 약정의 법적 효력을 보호하기 위해 <br> 실제 약정을 진행하시는 분의 실명 확인을 진행해 주세요.</p>
                    </div>
                </div>

                <div class="layout-grid">
                    <div class="col-group term">
                        <div class="card-box">
                            <h3 class="card-tit">약관 동의</h3>
        
                            <div class="terms-guide">
                                각 약관의 상세 내용을 펼쳐 끝까지 확인해 주세요. 각 약관의 상세내용 하단에 위치한 [동의] 버튼을 클릭해야만 해당 약관의 확인 상태가 자동으로 변경되며, 모든 필수 약관 동의 완료 시 다음 단계를 진행하실 수 있습니다.
                            </div>
        
                            <div class="accordion-list">
                                <div class="acc-item">
                                    <div class="acc-head">
                                        <div class="check-group line-type">
                                            <input type="checkbox" id="term1" name="terms">
                                            <label for="term1">
                                                <span class="term-badge is-pending">미확인</span>
                                                <span class="acc-trigger term-title">[필수] 개인정보 수집 · 이용 동의</span>
                                            </label>
                                        </div>
                                        <button type="button" class="btn-toggle" aria-label="내용 열기/닫기"></button>
                                    </div>
                                    
                                    <div class="acc-body">
                                        <div class="term-content">
                                            <p class="term-tit">[필수] 개인정보 수집이용 동의</p>
                                            <ul class="bul-refer">
                                                <li>아래의 동의사항은 거래 관계의 설정 및 유지를 위한 필수 사항입니다.</li>
                                                <li>귀하는 동의를 거부할 권리가 있으나, 동의하지 않을 경우 거래 관계의 설정 또는 유지가 불가능할 수 있음을 알려드립니다.</li>
                                                <li>신용공여 사실만으로 신용점수가 하락할 수 있으며, 금융권역 또는 신용공여 형태에 따라 은행의 신용공여보다 신용점수 하락폭이 클 수 있습니다.</li>
                                            </ul>
        
                                            <div class="term-footer">
                                                <ul>
                                                    <li>오릭스캐피탈코리아(주) 귀중</li>
                                                    <li>귀사와의 금융거래 관련하여 귀사가 본인의 개인(신용) 정보를 처리하고자 하는 경우에는「개인정보 보호법」제15조, 제22조, 제24조 및 「신용정보의 이용 및 보호에 관한 법률」제32조, 제33조, 제34조에 따라 동의를 얻어야 합니다.</li>
                                                    <li>이에 본인은 귀사가 아래의 내용과 같이 본인의 개인(신용)정보를 처리하는 것에 동의합니다.</li>
                                                </ul>
                                            </div>
                                            <div class="btn-area">
                                                <button class="btn-form">동의</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="acc-item">
                                    <div class="acc-head">
                                        <div class="check-group line-type">
                                            <input type="checkbox" id="term2" name="terms">
                                            <label for="term2">
                                                <span class="term-badge is-pending">미확인</span>
                                                <span class="term-title">[필수] 고유식별 정보처리 동의</span>
                                            </label>
                                        </div>
                                        <button type="button" class="btn-toggle"></button>
                                    </div>
                                    <div class="acc-body">
                                        <div class="term-content">
                                            내용이 들어갑니다.
                                            <div class="btn-area">
                                                <button class="btn-form">동의</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="acc-item">
                                    <div class="acc-head">
                                        <div class="check-group line-type">
                                            <input type="checkbox" id="term3" name="terms">
                                            <label for="term3">
                                                <span class="term-badge is-pending">미확인</span>
                                                <span class="term-title">[필수] 통신사 이용약관 동의</span>
                                            </label>
                                        </div>
                                        <button type="button" class="btn-toggle"></button>
                                    </div>
                                    <div class="acc-body">
                                        <div class="term-content">
                                            내용이 들어갑니다.
                                            <div class="btn-area">
                                                <button class="btn-form">동의</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="acc-item">
                                    <div class="acc-head">
                                        <div class="check-group line-type">
                                            <input type="checkbox" id="term4" name="terms">
                                            <label for="term4">
                                                <span class="term-badge is-pending">미확인</span>
                                                <span class="term-title">[필수] 서비스 이용약관 동의</span>
                                            </label>
                                        </div>
                                        <button type="button" class="btn-toggle"></button>
                                    </div>
                                    <div class="acc-body">
                                        <div class="term-content">
                                            내용이 들어갑니다.
                                            <div class="btn-area">
                                                <button class="btn-form">동의</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-group">
                        <div class="card-box">
                            <h3 class="card-tit">본인 인증</h3>
                            
                            <div class="form-item">
                                <label for="name" class="form-label">성명 <span class="required">*</span></label>
                                <input type="text" id="Name" class="form-input" placeholder="성명을 입력해 주세요.">
                                <p class="error-msg" style="display:none;">성명을 입력해 주세요.</p> 
                            </div>
                            <div class="form-item">
                                <label for="Birth" class="form-label">생년월일 <span class="required">*</span></label>
                                <input type="text" id="Birth" class="form-input" placeholder="예) 20190101">
                                <p class="error-msg" style="display:none;">생년월일을 입력해 주세요.</p> 
                            </div>
                            <div class="form-item">
                                <label for="Gender" class="form-label">성별 <span class="required">*</span></label>

                                <div class="radio-list form-row">
                                    <div class="radio-group r-box">
                                        <input type="radio" id="radioType2Male" name="radioType2" value="male" checked>
                                        <label for="radioType2Male">
                                            <span class="radio-check"></span>
                                            <span class="txt">남자</span>
                                        </label>
                                    </div>
                                    <div class="radio-group r-box">
                                        <input type="radio" id="radioType2Female" name="radioType2" value="female">
                                        <label for="radioType2Female">
                                            <span class="radio-check"></span>
                                            <span class="txt">여자</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-group">
                        <div class="card-box mh-100">
                            <h3 class="card-tit">휴대전화 번호 인증</h3>
                    
                            <div class="form-item">
                                <label class="form-label">휴대전화 번호 <span class="required">*</span></label>
                                <div class="form-row">
                                    <div class="col-select">
                                        <select class="form-input is-placeholder">
                                            <option value="" disabled selected hidden>통신사 선택</option>
                                            <option value="SKT">SKT</option>
                                            <option value="KT">KT</option>
                                            <option value="LGU+">LGU+</option>
                                        </select>
                                    </div>
                                    <div class="col-input">
                                        <input type="tel" class="form-input" placeholder="휴대폰 번호 입력">
                                    </div>
                                </div>
                                <!-- <p class="error-msg" style="display:none;">통신사를 선택해 주세요.</p> -->
                            </div>
                    
                            <div class="form-item">
                                <label class="form-label">인증번호 <span class="required">*</span></label>
                                <div class="form-row">
                                    <input type="text" class="form-input" placeholder="6자리 입력">
                                    <button type="button" class="btn-form">인증번호 발송</button>
                                    <!-- <button type="button" class="btn-form">재발송</button> -->
                                </div>
                                <!-- <p class="error-msg" style="display:none;">올바른 인증번호를 입력해 주세요.</p> -->
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>

            <div id="bottom-button-wrap">
                <div class="bottom-button-inner">
                    <div class="bottom-button-text-wrap">
                        <div class="bottom-button-notice">
                            <p class="notice">약관 동의 후, 본인 명의의 인증 수단으로 실명 확인을 완료해 주세요.</p>
                            <p class="notice">입력하신 인증 정보는 추후 법인전자약정의 정당한 법적 효력을 입증하는 자료로 안전하게 관리됩니다.</p>
                        </div>
                    </div>
                    <div class="btn-area">
                        <a href="../prog/ORIX-CEAG-PROG-001.html" class="btn-primary">다음</a> <!-- 솔루션 노출이 필요할 시 button으로 바꿔서 솔루션 연결 -->
                    </div>
                </div>
            </div>
        </div>

        <div data-include-path="../include/inc-footer.html"></div>
    </div>
    
    <!-- <div id="popLoading" class="layer-popup on">
        <div class="pop-dimmed"></div>
        <div class="pop-container type-loading">
            <div class="loading-body">
                <div class="loading-visual"></div>
                <p class="loading-tit">
                    안전한 금융거래를 위해<br>
                    신원 확인 및 권한 검증을 진행하고 있습니다.
                </p>

                <p class="loading-desc">
                    페이지를 새로고침 하거나 창을 닫을 경우 인증이 취소될 수 있습니다.<br>
                    잠시만 기다려 주세요.
                </p>
            </div>
        </div>
    </div> -->
</body>
</html>
