<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>오릭스 전자약정</title>
    
    <link href="../resource/css/ui-util.css" rel="stylesheet">

    <script src="../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../resource/js/jquery.form.min.js"></script>
    <script src="../resource/js/common.js"></script>
</head>
<body>
    <div id="wrap" class="main-page">
        <div id="headerWrap">
            <div class="header-inner">
                <h1 class="logo"><a href="#"><img src="../resource/images/ORIX_logo.png" alt="오릭스"></a></h1>
                <nav class="main-nav">
                    <ul>
                        <li class="nav-item-link"><a href="./ORIX-CRTF-MAIN-003.html">자주 묻는 질문</a></li>
                        
                        <li class="nav-item-badge">
                            <div class="cs-badge">
                                <span class="label">고객센터</span>
                                <span class="tel">02-2050-6700</span>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div id="contentWrap">
            <div class="contents">
                <div class="intro-section">
                    <div class="intro-top-txt">
                        <p class="eng"><span class="c5">Trust built into every signature.</span> ORIX</p>
                        <p class="sub">계약 확인부터 서명까지, 안전하게 오릭스 전자약정</p>
                    </div>
                    <h2 class="intro-tit">전자약정 <strong>[ 방문없이 ]</strong> 완료하다</h2>
                </div>
            </div> 

            <a href="./ORIX-CRTF-INDT-001.html" class="intro-cta-bar"> <!-- 오류시 main-002로 링크 -->
                <div class="cta-inner">
                    <span class="badge-start">전자약정 시작하기</span>
                    <p class="cta-desc">계약 주요 내용을 확인한 후 전자약정서 열람 및 서명이 진행됩니다.</p>
                    
                </div>
            </a>
        </div>
    </div>
</body>
</html>