<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>오릭스 A시안 (약정서 요약본)</title>
    
    <link href="../resource/css/ui-util.css" rel="stylesheet">

    <script src="../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../resource/js/jquery.form.min.js"></script>
    <script src="../resource/js/common.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="headerWrap" role="banner">
            <div class="header-inner">
                <h1 class="logo"><a href="#"><img src="../resource/images/ORIX_logo.png" alt="오릭스"></a></h1>
                <div class="header-contact">
                    <span class="txt">고객센터</span>
                    <span class="tel">02-2050-6700</span>
                </div>
            </div>
        </div>

        <div id="contentWrap" role="main">
            <div class="contents">
                <ol class="step-area">
                    <li>1</li>
                    <li>2</li> 
                    <li class="active">3</li>
                </ol>

                <h2 class="page-tit">약정서 요약본을 확인해주세요</h2>

                <div class="layout-grid">
                    <div class="col-group">
                        
                        <!-- 고객정보 -->
                        <div class="card-box">
                            <h3 class="card-tit mb-40">고객정보</h3>
                            <ul class="info-list">
                                <li>
                                    <p class="tit">법인명</p>
                                    <p class="desc">(주)홍길동 컴퍼니</p>
                                </li>
                                <li>
                                    <p class="tit">사업자번호</p>
                                    <p class="desc">123-456567</p>
                                </li>
                                <li>
                                    <p class="tit">주소</p>
                                    
                                    <p class="desc">
                                        <span>(06210) 서울시 강남구 테헤란로 306(역삼동)</span>
                                        <span>카이스트타워 13층</span>
                                    </p>
                                </li>
                            </ul>
                        </div>

                        <!-- 약정서 수신 정보 -->
                        <div class="card-box">
                            <h3 class="card-tit mb-40">약정서 수신 정보</h3>
                            <ul class="info-list">
                                <li>
                                    <p class="tit">이메일</p>
                                    <p class="desc">orixagreementmanagement@orix.co.kr</p>
                                </li>
                                <li>
                                    <p class="tit">담당자 연락처</p>
                                    <p class="desc">02-2050-6700</p>
                                </li>
                            </ul>
                        </div>

                        <!-- 자동이체 계좌 및 납부정보 -->
                        <div class="card-box">
                            <h3 class="card-tit mb-40">자동이체 계좌 및 납부정보</h3>
                            <ul class="info-list mb-40">
                                <li>
                                    <p class="tit">자동이체 계좌</p>
                                    <p class="desc">
                                        <span>신한은행</span>
                                        <span>110-000-000000</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="tit">납부내역 수신 이메일</p>
                                    <p class="desc">orixfinance01@orix.co.kr</p>
                                </li>
                                <li>
                                    <p class="tit">납부일 설정</p>
                                    <p class="desc">매달 15일</p>
                                </li>
                                <li>
                                    <p class="tit">첫회차 납부일</p>
                                    <p class="desc">2026.03.15</p>
                                </li>
                            </ul>
                            <div class="payment-result-box">
                                <span class="label">월 납입금</span>
                                <span class="date">840,280 원</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-group">
                        
                        <!-- 차량정보 -->
                        <div class="card-box">
                            <h3 class="card-tit mb-40">차량정보</h3>
                            <div class="vehicle-view">
                                <div class="img-wrap"><img src="../resource/images/gv-70.png" alt="차량 이미지"></div>
                                <p class="sub">가솔린 터보 1.6 하이브리드 익스클루시브</p>
                                <p class="model">현대 2025년형 디 올 뉴 그랜저</p>
                            </div>
                            <hr class="divider">
                            <ul class="info-list">
                                <li>
                                    <p class="tit">색상</p>
                                    <p class="desc">
                                        <span>큐레이티드 실버 메탈릭 / 외장</span>
                                        <span>다크 그레이 / 라이트 그레이 투톤 / 내장</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="tit">옵션</p>
                                    <p class="desc">
                                        <span>파노라마 선루프</span>
                                        <span>현대 스마트 센스 패키지 I</span>
                                        <span>JBL 사운드 패키지</span>
                                        <span>컨비니언스 패키지</span>
                                    </p>
                                </li>
                            </ul>
                        </div>

                        <!-- 상품정보 -->
                        <div class="card-box">
                            <h3 class="card-tit mb-40">상품정보</h3>
                            <ul class="info-list">
                                <li>
                                    <p class="tit">대여기간</p>
                                    <p class="desc">36개월</p>
                                </li>
                                <li>
                                    <p class="tit">보증금</p>
                                    <p class="desc">0</p>
                                </li>
                                <li>
                                    <p class="tit">만기인수가</p>
                                    <p class="desc">35,303,000</p>
                                </li>
                                <li>
                                    <p class="tit">보험조건</p>
                                    <p class="desc">
                                        <span>대물 1억</span>
                                        <span>자손 1억</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="tit">정비</p>
                                    <p class="desc">오릭스 정비 Premium</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footerWrap" role="contentinfo">
            <div class="footer-inner">
                <div class="footer-agreement">
                    <div class="check-group">
                        <input type="checkbox" id="agreeTerm">
                        <label for="agreeTerm" class="agreeterm">
                            <span class="blue">약정 주요내용을 최종 확인</span>하였으며, 내용에 이상 없음을 확인했습니다.
                        </label>
                    </div>
                    <p class="sub-txt">※ 내용에 이상이 없을 경우, [다음] 버튼을 통해 최종 계약서 확인 및 전자서명 화면으로 이동하실 수 있습니다.</p>
                </div>
                <div class="btn-area">
                    <a href="./ORIX-CRTF-DTAG-001.html" class="btn-primary disabled" aria-disabled="true">다음으로</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>