<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width:1200px, initial-scale=1.0" />
    <title>로그인 오류</title>

    <link href="../../resource/css/ui-util.css" rel="stylesheet">
    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>

</head>
<body>
    <div class="wrap error">
        <main class="contentWrap">
            <!-- S: 로그인 오류 -->
            <div class="error-content">
                <div class="error-group">
                    <p class="tit">로그인에 실패했습니다.</p>
                    <span>아이디와 패스워드가 일치하지 않거나,<br/> 해당 아이디는 사용제한 처리중입니다.</span>
                </div>
                <div class="la-button">
                    <button type="button" class="btn-secondary">다시 시도</button>
                </div>
            </div>
            <!-- E: 로그인 오류 -->
        </main>
    </div>
</body>
</html>
