<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>오릭스 A시안 (진입 페이지)</title>
    
    <link href="../../resource/css/ui-util.css" rel="stylesheet">

    <script src="../../resource/js/jquery-1.11.3.min.js"></script>
    <script src="../../resource/js/jquery.form.min.js"></script>
    <script src="../../resource/js/common.js"></script>
</head>
<body>
    <div id="wrap" class="landing-page">
        
        <div id="headerWrap" role="banner">
            <div class="header-inner">
                <h1 class="logo"><a href="#"><img src="../../resource/images/ORIX_logo.png" alt="오릭스"></a></h1>
                <div class="header-contact">
                    <span class="txt">고객센터</span>
                    <span class="tel">02-2050-6700</span>
                </div>
            </div>
        </div>

        <div id="contentWrap" role="main">
            <div class="contents">
                
                <div class="intro-section">
                    <h2 class="intro-tit">
                        방문없이 <br>
                        <span class="blue">웹에서 간편하게</span> <br>
                        전자약정서비스
                    </h2>
                    
                    <p class="intro-desc">
                        계약 주요 내용을 확인한 후 전자약정서 열람 및 서명이 진행됩니다.
                    </p>

                    <div class="intro-btn-area">
                        <a href="../A/info_in.html" class="btn-b-black">지금 시작하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>