@charset "UTF-8";

/* =============================================
    #CSS 변수
============================================= */
body{
    /* 기본 */
    --label-color:var(--color-75);
    --label-font-size:var(--font16);
    --label-weight:var(--font-w400);
    --form-bg:var(--color-f);
    --form-font-color:var(--color-45);
    --form-placeholder-color:var(--color-45);
    --form-board:var(--color-d);
    --form-height:40px;
    --form-padding:0 15px;
    --form-transition: all 0.2s ease;
    --form-radius:3px;

    --form-disabled:#E9E7E7;
    --form-disabled-font-color:var(--color-9);

    --form-focus:var(--color-45);
    --form-focus-font-color:var(--color-45);
    --form-checkbox:url("../../images/com/svg/ico_form_check.svg");
    --form-checked:#0098CB;
    --form-check-dissbled:#9CB1C4;
    --form-checkbox-border:#8D8D8D;

    --th-form-label-font-size:1rem;

    --form-radio-bg:var(--color-75);
    --form-date-ico:url("../../images/com/svg/ico_date.svg");
    --ico-search:url("../../images/com/svg/ico_search.svg");

    --radio-s:28px;
    --radio-s2:23px;
    --radio-s-s2:14px;

    --ico-file:url("../../images/com/svg/ico_file.svg")
}

/* =============================================
    #포커스
============================================= */
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
label.button:has(:focus-visible) { outline:2px solid var(--form-active); outline-offset:4px; z-index:2;  }

/* =============================================
    #레이블
============================================= */
label,
.label-tit{ display:block; font-size:var(--label-font-size); color:var(--label-color); font-weight:var(--label-weight); }
.label-tit { margin-bottom:8px; }
th label { font-size:var(--th-form-label-font-size); font-weight:initial; }

/* =============================================
    #기본 input / select / textarea
============================================= */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="date"],
input[type="month"],
input[type="datepicker"],
select{ width:100%; height:var(--form-height); max-height:var(--form-height); background:var(--form-bg); border: 1px solid var(--form-board); border-radius:var(--form-radius); padding:var(--form-padding); color:var(--from-font-color); box-sizing:border-box; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
textarea { width:100%; border:1px solid var(--form-board); padding:12px 16px; color:var(--from-font-color); font-size:var(--font18); box-sizing:border-box; }

/** select 커스텀 화살표 **/
select { padding:0 26px 0 12px; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url("../../images/com/svg/ico_select.svg") no-repeat right 8px center; line-height:var(--form-height); background-color:#ffffff; }

/** 검색 인풋 아이콘 **/
input[type="search"] { background-image:var(--ico-search); background-size:18px; background-repeat:no-repeat; background-position:right 14px center;  }

/** 파일 숨김 처리 **/
input.upload { position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0; }

/** placeholder **/
input::placeholder,
textarea::placeholder { color: var(--form-placeholder-color); }

/* Chrome/Safari */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { color: var(--form-placeholder-color); }
/* Firefox */
input::-moz-placeholder,
textarea::-moz-placeholder { color: var(--form-placeholder-color); opacity: 1; }
/* IE11 */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { color: var(--form-placeholder-color); }

/* input + clear */
.ipt-clear { position:relative; display:block; }
.ipt-clear input { padding-right:50px }
.ipt-clear .btn-clear { position:absolute; width:28px; height:28px; right:18px; top:50%; transform:translate(0, -50%); font-size:0; background:url("../../images/com/svg/ico_close.svg") no-repeat center; background-size:28px;  }

/** focus **/
input:focus,
select:focus,
textarea:focus { border:1px solid var(--form-focus); }
input:focus::placeholder,
textarea:focus::placeholder { color:var(--form-focus-font-color); }

/* Chrome/Safari */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { color: var(--form-focus-font-color); }
/* Firefox */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { color: var(--form-focus-font-color); opacity: 1; }
/* IE11 */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { color: var(--form-focus-font-color); }

/** disabled **/
input:disabled,
input:disabled::placeholder,
select:disabled,
textarea:disabled { background-color:var(--form-disabled); color:var(--form-disabled-font-color); }

/** form-group 내 인풋 flex **/
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="tel"],
.form-group input[type="search"], 
.form-group input[type="date"],
.form-group input[type="month"],
.form-group input[type="datepicker"],
.form-group select,
.form-group textarea{ flex:1; -webkit-box-flex:1; -ms-flex:1; }

/** 검색 인풋 with 버튼 **/
.form-group .search input[type="search"] { background:transparent; padding-left:16px; padding-right:56px;  }
.form-group .search input + button.btn-sch {position:absolute; top:50%; right:16px; transform:translate(0, -50%); font-size:0; }
.form-group .search input + button.btn-sch::before { content:""; display:block; width:24px; height:24px; background-color:var(--color-2);
mask-image:var(--ico-search); mask-position:center; mask-repeat:no-repeat; mask-size:80%; --webkit-mask-image:var(--ico-search); --webkit-mask-position:center; --webkit-mask-repeat:no-repeat; --webkit-mask-size:80%; }

/** 단위 텍스트 (txt-unit) **/
.form-group .txt-unit { position:relative; }
.form-group .txt-unit > input { text-align:right; padding-right:40px; }
.form-group .txt-unit > span { z-index:2; position:absolute; top:50%; right:16px; transform:translate(0, -50%); color:var(--color-75); }

/* =============================================
    #체크박스 / 라디오
    기본 : label > input
    style2 : input + label
============================================= */
label:has(input) { display:inline-flex; align-items:center; font-size:var(--form-font-size) }
label.check,
label.radio { gap:14px; padding:6px 24px 8px 0; }

/* 체크 여부에 따른 span 스타일 */
.radio-item.style2 input[type="radio"] + label,
label input:not(:checked) + span { flex:1; width:100%; font-weight:var(--font-w500); color:var(--color-45); }
.radio-item.style2 input[type="radio"]:checked + label,
label input:checked + span { flex:1; width:100%; color:var(--form-font-color); font-weight:500; }
.radio-item.style2 input[type="radio"]:not(:checked) + label,
label input:not(:checked) + span { font-weight:400; }

/* 라디오 */
label input[type="radio"] { position:relative; width:var(--radio-s); height:var(--radio-s); border-radius:50%; background:var(--color-f); overflow:hidden; }
.radio-item.style2 label.radio::before,
label input[type="radio"]:not(:checked) { border:2px solid #8d8d8d;  }
.radio-item.style2 input[type="radio"]:checked + label.radio::before,
label input[type="radio"]:checked { border:7px solid var(--form-checked);  }
.radio-item.style2 input[type="radio"]:disabled + label.radio::before,
label input[type="radio"]:disabled { border:7px solid var(--form-check-dissbled); }

/* style2 */
.form-group .radio-item.style2,
.form-group .check-item.style2 { position:relative; display:inline-block; }
.check-item.style2 input[type="checkbox"],
.radio-item.style2 input[type="radio"] { position:absolute; opacity:0; width:0; height:0; }
.radio-item.style2 input[type="radio"] + label.radio,
.check-item.style2 input[type="checkbox"] + label.check { padding-left:40px; }
.radio-item.style2 input[type="radio"] +  label.radio::before { content:""; position:absolute; top:50%; transform:translateY(-50%); left:0; display:inline-block; width:var(--radio-s2); height:var(--radio-s2); border-radius:50%; background:var(--color-f); overflow:hidden; }
.radio-item.style2 input[type="radio"]:checked + label.radio::before,
.radio-item.style2 input[type="radio"]:disabled + label.radio::before { width:var(--radio-s-s2); height:var(--radio-s-s2); }

/* guide type : input + label */
.check-group,
.radio-group { position:relative; display:inline-block; margin-right:24px; vertical-align:top; }

.check-group input[type="checkbox"],
.radio-group input[type="radio"] { position:absolute; left:0; top:0; width:28px; height:28px; margin:0; opacity:0; filter:alpha(opacity=0); }

.check-group label.check,
.radio-group label.radio { position:relative; display:inline-block; min-height:28px; padding:0 0 0 40px; line-height:28px; color:var(--color-45); font-size:var(--font16); font-weight:var(--font-w400); cursor:pointer; }

.check-group label.check.only,
.radio-group label.radio.only { width:28px; min-width:28px; padding-left:28px; overflow:hidden; }

.check-group label.check::before,
.radio-group label.radio::before { content:""; position:absolute; left:0; top:0; width:28px; height:28px; background-color:var(--color-f); box-sizing:border-box; }

.check-group label.check::before { border:1px solid var(--color-d); border-radius:4px; }
.radio-group label.radio::before { border:1px solid var(--color-d); border-radius:50%; background-color:var(--color-d); }

.check-group label.check::after,
.radio-group label.radio::after { content:""; position:absolute; }

.check-group label.check::after { left:9px; top:5px; width:7px; height:13px; border-right:2px solid var(--color-f); border-bottom:2px solid var(--color-f); -ms-transform:rotate(45deg); transform:rotate(45deg); }
.radio-group label.radio::after { left:7px; top:7px; width:14px; height:14px; border-radius:50%; background-color:var(--color-f); }

.check-group input[type="checkbox"]:checked + label.check::before { border-color:var(--secondary); background-color:var(--secondary); }
.radio-group input[type="radio"]:checked + label.radio::before { border-color:var(--secondary); background-color:var(--secondary); }

.check-group input[type="checkbox"]:checked + label.check,
.radio-group input[type="radio"]:checked + label.radio { color:var(--color-2); font-weight:var(--font-w500); }

.check-group input[type="checkbox"]:disabled + label.check,
.radio-group input[type="radio"]:disabled + label.radio { cursor:default; color:var(--color-75); }

.check-group input[type="checkbox"]:disabled + label.check::before,
.radio-group input[type="radio"]:disabled + label.radio::before { border-color:var(--color-d); background-color:var(--color-d); }

.radio-group input[type="radio"]:disabled + label.radio::after { background-color:#E9E7E7; }

/* 체크박스 */
label input[type="checkbox"],
.terms input[type="checkbox"] { position:relative; width:var(--check-s); height:var(--check-s); border:1px solid var(--form-checkbox-border); overflow:hidden; border-radius:50%;  }
.terms input[type="checkbox"]:checked { background:var(--form-board); }

label input[type="checkbox"]::before,
.terms input[type="checkbox"]::before { content:""; display:block; width:100%; height:100%; background:var(--color-f); mask-image:var(--form-checkbox); mask-position:center; mask-repeat:no-repeat; mask-size:15px auto; --webkit-mask-image:var(--form-checkbox); --webkit-mask-position:center; --webkit-mask-repeat:no-repeat; --webkit-mask-size:15px auto; }

label input[type="checkbox"]:not(:checked)::before,
.terms input[type="checkbox"]:not(:checked)::before,
.check-item.style2 input[type="checkbox"]:not(:checked) + label.check::before { mask-image:none;  -webkit-mask-image:none; }
label input[type="checkbox"]:checked,
.terms input[type="checkbox"]:checked,
.check-item.style2 input[type="checkbox"]:checked + label.check::before  { background:var(--form-checked); }
label input[type="checkbox"]:disabled,
.terms input[type="checkbox"]:disabled { background:var(--form-check-dissbled); }

/* style2 */
.check-item.style2 input[type="checkbox"] + label.check { padding-left:40px; }
.check-item.style2 input[type="checkbox"] + label.check::before,
.check-item.style2 input[type="checkbox"]:checked + label.check::after { content: ""; position: absolute; top: 50%; transform: translateY(-50%); left: 0; display: inline-block; border:1px solid var(--form-checkbox-border); overflow:hidden; border-radius:50%; }
.check-item.style2 input[type="checkbox"] + label.check::before { width:var(--check-s); height:var(--check-s); border: 1px solid #BBBBBB; background-color: #FFFFFF; }
.check-item.style2 input[type="checkbox"]:checked + label.check::before { width:var(--check-s); height:var(--check-s); background:var(--form-checked); }
.check-item.style2 input[type="checkbox"]:checked + label.check::after { width:var(--check-s); height:var(--check-s); background:var(--color-f); mask-image:var(--form-checkbox); mask-position:center; mask-repeat:no-repeat; mask-size:15px auto; --webkit-mask-image:var(--form-checkbox); --webkit-mask-position:center; --webkit-mask-repeat:no-repeat; --webkit-mask-size:15px auto; }
.check-item.style2 input[type="checkbox"]:disabled + label.check::before { background:var(--form-check-dissbled); }

/** textxarea 글자수 **/
.textarea-wrap { position:relative; padding-bottom:0; }
.textarea-wrap textarea { padding-bottom:30px; }
.textarea-wrap .char-counter { position:absolute; bottom:10px; right:16px; color:var(--color-75);  }
.textarea-wrap .char-counter .current { color:var(--color-2); font-weight:var(--font-w500); }

/* =============================================
    #라디오가 버튼 스타일 .r-button
============================================= */
/* label > input */
.form-group.r-button { display:flex; flex-wrap:wrap; }
.form-group.r-button p.label-tit { width:100%; }
.form-group.r-button label.button { margin-left:5px; padding:0; }
.form-group.r-button label.button:first-of-type { margin-left:0; }

.r-button label.radio { display:inline-flex; align-items:center; justify-content:center; flex:1; padding:0; margin-bottom:0; height:var(--form-height); background:var(--color-f8); border:2px solid var(--color-f8); border-radius:0; text-align:center; }
.r-button label.radio input{ position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow: hidden;  border:0; clip:rect(0, 0, 0, 0); white-space: nowrap; }
.r-button label.radio:has(input:checked) { background:var(--color-f); border-color:var(--secondary); color:var(--secondary); font-weight:var(--font-w700) }

.tab-content > .form-wrap > .form-group > .flex-row select { max-width:178px; }
.tab-content > .form-wrap > .form-group.address > input { margin-top:10px; }

/* label + input */
.r-button .radio-item { display:inline-block; flex:1; width:100%; }
.r-button input[type="radio"] { position:absolute; opacity:0; }
/* 기본 라벨 스타일 */
.r-button label.radio { display:inline-flex; align-items:center; padding:0 16px; width:100%; cursor:pointer; font-size:var(--font18); font-weight:var(--font-w400); }
/* 체크 상태 */
.r-button input[type="radio"]:checked + label.radio { background:var(--color-f); border-color:var(--secondary); color:var(--secondary); font-weight:var(--font-w700); }

/* =============================================
    #토글 스위치 .toggle
============================================= */
/** 기본 토글 **/
label.toggle {
    --w: 40px;
    --h: 24px;
    --pad-x: 3px; 
    --pad-y: 2px;  
    --knob: 20px; 
    --travel: calc(var(--w) - (var(--pad-x) * 2) - var(--knob));
    display:inline-block; position: relative; width: var(--w); height: var(--h); padding: var(--pad-y) var(--pad-x); background: var(--form-board); border-radius:30px; transition: background-color .2s ease;
}
label.toggle:has(input:checked) { background: var(--active); }
label.toggle::before { content:""; position:absolute; top:var(--pad-y); left:var(--pad-x); width:var(--knob); height:var(--knob); border-radius:50%; background:var(--color-f); transform:translateX(0); transition: transform .2s ease, box-shadow .2s ease; }
label.toggle:has(input:checked)::before { transform: translateX(var(--travel)); }
label.toggle:focus-within { outline: 2px solid transparent; }

label.toggle input[type="checkbox"] { position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip: rect(0 0 0 0); overflow:hidden; white-space:nowrap; }
label.toggle input + span { font-size:0; }

/* 모션 민감 사용자 배려 */
@media (prefers-reduced-motion: reduce) {
    label.toggle,
    label.toggle::before {
    transition: none !important;
    }
}

/** 텍스트 토글 **/
label.toggle.style2 { --w:100%; max-width:70px; --h:26px; --pad-y:3px; font-size:0; border:1px solid var(--color-d); background-color:var(--color-f); }
label.toggle.style2::before { width:18px; height:18px; background-color:#AAAAAA; }
label.toggle.style2 input + span { position:absolute; left:23px; width:auto; color:#AAAAAA; font-size:var(--font14); font-weight:var(--font-w500); line-height:1.2; }

label.toggle.style2:has(input:checked) { --pad-x:0; padding-left:7px; border-color:var(--primary); background-color:var(--color-f); }
label.toggle.style2:has(input:checked)::before { left:unset; right:2px; width:18px; height:18px; background-color:var(--primary); }
label.toggle.style2 input:checked + span { left:6px; width:auto; color:var(--primary); }

/* =============================================
    #유효성체크
============================================= */
input[aria-invalid="true"] { border:1px solid var(--error) !important; }
input[aria-invalid="true"]:focus-visible,
select[aria-invalid="true"]:focus-visible,
.form-group:has(.error) input:focus-visible,
.form-group:has(.error) select:focus-visible,
.form-group:has(.error) textarea:focus-visible,
tr td:has(.error) input:focus-visible,
tr td:has(.error) select:focus-visible,
tr td:has(.error) textarea:focus-visible { outline:2px solid var(--error); outline-offset:4px; z-index:2;  }

.form-group:has(.error) input,
.form-group:has(.error) select,
.form-group:has(.error) textarea,
tr td:has(.error) input,
tr td:has(.error) select,
tr td:has(.error) textarea { border:1px solid var(--error); }


.form-group:has(input[aria-invalid="true"]) span + .error,
span:has(input[aria-invalid="true"]) + .error,
li:has(.error) .error,
tr td .error,
.form-wrap.search-form > .group .form-group span.error { display:inline-block; width:100%; margin-top:10px; font-size:var(--font16); text-align:left; }
.form-wrap.search-form > .group .form-group span.error  { grid-column:2; }

/* =============================================
    #달력 / 날짜 입력
============================================= */
.form-group { position:relative; }
.date-wrap { flex:1; position:relative; }

/* 커스텀 버튼 있을 때 기본 캘린더 아이콘 숨김 */
.date-wrap:has(button) input[type="date"]::-webkit-calendar-picker-indicator,
.date-wrap:has(button) input[type="month"]::-webkit-calendar-picker-indicator { display:none; }
/* 달력 input 두개일 때 .date-wrap { position:relative; display:inline-flex; } */

/* 캘린더 아이콘 */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator { width:18px; height:18px; background:var(--form-date-ico) no-repeat center/18px 18px; opacity:1; cursor:pointer; filter:none; }
input[type="date"],
input[type="month"] { appearance:none; -webkit-appearance:none; padding-right:10px; }

/* 커스텀 달력 버튼 */
input[type="month"]+ button,
input[type="date"] + button { position:absolute; right:10px; top:50%; transform:translate(0, -50%); z-index:2; display:block; width:24px; height:24px; font-size:0; background-image:var(--form-date-ico); background-size:18px; background-repeat:no-repeat; background-position:center; }

/* 달력 열림 상태 */
.date.is-open,
.date[aria-expanded="true"] { border:1px solid var(--form-active); outline:2px solid var(--form-active); outline-offset:4px; z-index:2;  }

/** jQuery UI 달력 **/
.ui-widget.ui-widget-content  {
--bg-box:#F3F6FB;
}
.ui-widget.ui-widget-content {  z-index:2; background:var(--bg-box); border:1px solid var(--color-d); border-radius:10px; width:350px; }
.ui-widget-header { background:transparent; border:0; }
.ui-datepicker .ui-datepicker-title { font-size:var(--font20); }
.ui-widget.ui-widget-content table { border-top:0; }
.ui-widget.ui-widget-content th { background:transparent; font-size:var(--font16); color:var(--color-75); }
.ui-state-default, 
.ui-widget-content 
.ui-state-default, 
.ui-widget-header 
.ui-state-default, 
.ui-button, 
.ui-button.ui-state-disabled:hover, 
.ui-button.ui-state-disabled:active { display:flex; align-items:center; justify-content:center; width:40px; height:40px; border:0; border-radius:4px; background:transparent; text-align:center; } 
.ui-state-disabled { color:var(--color-75); }
.ui-datepicker-today a { background:var(--color-2) !important; color:var(--color-f) !important; }
.ui-datepicker-current-day a { background:var(--primary) !important; color:var(--color-f) !important; }
.ui-state-active { background:var(--primary); color:var(--w); font-weight:var(--font-w700); }

/* =============================================
    #약관동의
============================================= */
[class*="-container"] form:has(.terms) { margin:32px 0 72px; }
.terms li { position: relative; display:flex; align-items:center; gap:14px; padding:23px 20px; border-bottom:1px solid var(--color-d); font-size:0; }
.terms:not(:has(.check-all-area)) li:first-child { border-top:1px solid var(--color-2); }
.terms input[type="checkbox"] { display:inline-block; }
.terms input[type="checkbox"] + label { display:inline-block; position:relative; margin:0; min-height:30px; line-height:30px; color:var(--color-45); font-weight:var(--font-w500); font-size:1rem; }
.terms input[type="checkbox"]:checked  + label span { font-weight:var(--font-w500); color:var(--from-font-color); }

/* 전체동의 */
.terms li.check-all-area { margin-bottom:9px; border-bottom:1px solid var(--color-2); }
.terms li.check-all-area input[type="checkbox"]:checked { background-color:var(--primary); }

/* 내용보기 버튼 */
ul.check-box.terms li .modal { position:absolute; top:50%; right:20px; transform: translateY(-50%); }
.form-group .modal { padding:10px 24px; background: var(--color-f); border: 1px solid var(--color-d); border-radius:100px; color: var(--color-75); font-size: var(--font16); font-weight:var(--font-w500); }

/* 약관동의 인포 */
.form-content:has(.terms) .info-list .m-dot li { margin-top:18px; font-size:var(--font18); color:var(--color-75); }
.form-content:has(.terms) .info-list .m-dot li::before { content: "·"; margin-right: 5px; }

/* =============================================
    #첨부파일
============================================= */
/* 파일 첨부 */
.ipt-file { display:inline-flex; align-items:center; justify-content:space-between; gap:20px; width:100%; }

.ipt-file .ipt-clear { position:relative; display:inline-flex; align-items:center; }
.ipt-file .ipt-clear::before { content:""; display:block; width:28px; height:28px; background-color:var(--color-75); mask-image:var(--ico-file); mask-position:center; mask-repeat:no-repeat; mask-size:28px auto; --webkit-mask-image:var(--ico-file); --webkit-mask-position:center; --webkit-mask-repeat:no-repeat; --webkit-mask-size:13px auto;  }
.ipt-file .ipt-clear > input[type="text"] { padding:0 30px 0 10px; border:0; height:29px; line-height:26px; border:1px solid transparent; background-color:transparent; }
.ipt-file .ipt-clear > input[type="text"]::placeholder { color:var(--color-75); }
.ipt-file .ipt-clear:has(.btn-clear)::before { background-color:var(--color-2); }
.upload-label { position:relative; display:inline-flex; align-items:center; justify-content:center; min-width:97px; height:40px; padding:0 12px; background-color:var(--color-f); border:1px solid var(--color-d); border-radius:3px; color:var(--color-45); font-size:var(--font16); cursor:pointer; }
.upload-label::before { content:""; display:block; width:16px; height:16px; margin-right:6px; background:url("../../images/com/svg/ico_download.svg") no-repeat center; background-size:28px auto; }
.upload-label .fileLabel { display:block; line-height:38px; font-weight:var(--font-w500); }
.upload-text.up + .upload-label { border-color:var(--active); }
.upload { display:none; }

/* =============================================
    #사용자 정보변경 (IFMA-001) user_list 오른쪽 부분 info-text 들어갈 경우 css
============================================= */
.user-list.info-text .user-item { position:relative; }
.user-list.info-text .form-group { min-width:250px; }
.user-list.info-text .info-blue { position:absolute; top:103px; left: 600px; padding-left:34px; color:var(--secondary); font-size:var(--font16); font-weight: var(--font-w400); /* word-break:keep-all; */ }
.user-list.info-text .info-blue::before { content:""; position:absolute; top:-1px; left:0; width:28px; height:28px; background:url("../../images/com/svg/info_rounded_blue.svg") no-repeat center / contain; }

/* 이미지 첨부 */
/* .photo-content { display:flex; gap:28px; }
.photo-content .img-photo { width:190px; height:253px; background:var(--no-photo); overflow:hidden;  }
.photo-content .img-photo img { max-height:253px; }
.photo-content .img-photo:has(img) { background:transparent; }
.photo-content dl { flex:1; }
.photo-content dt { margin-bottom:18px; font-weight:var(--font-w700); text-align:left;  }
.photo-content dt.rfrnc::before { content:"※"; margin-right:3px; }
.photo-content dd { margin-bottom:10px; font-size:var(--font16); text-align:left; }
.photo-content dd:nth-of-type(2) { margin-bottom:24px; }
.img-photo { border:1px solid var(--color-d); }
.upload-label { display:block; }
.fileLabel { display:flex; align-items:center; margin-top:24px; text-decoration:underline; }
.fileLabel button { margin-left:5px; text-decoration:none; } */

/* =============================================
    #IE/Chrome 104 이하
============================================= */
/*
	#:has() 미지원 대응
    구조 :
    1. label > input일 경우 label에 radio, check class 추가
    (label + input 동일)
*/
@supports not (selector(:has(*))) {
    /* label 기본 */
    label.check,
    label.radio,
    label.toggle,
    label.button { display:inline-flex; align-items:center; }

    /* focus */
    label.button:focus-within { outline:2px solid var(--form-active); outline-offset:4px; z-index:2; }

    /* 라디오 버튼 탭 */
    .r-button input[type="radio"]:checked + label.radio { background:var(--color-f); border-color:var(--primary); color:var(--primary); font-weight:var(--font-w700); }

    /* form-group 에러 */
    .form-group.is-error input,
    .form-group.is-error select,
    .form-group.is-error textarea { border:1px solid var(--error); }

    /* 약관 */
    .terms.no-check-all li:first-child { border-top:1px solid var(--color-2); }
    .form-content.has-terms .info-list .m-dot li { margin-top:18px; }

}
