@charset "UTF-8";
body {
    --point-r:#d82800;
    --point-b:var(--primary);
}


.flex-col { display:flex;  }

/*---------------------------------------------
	#기본 레이아웃
---------------------------------------------*/
html,body { height:100%; }
body { position: relative; min-width:1200px; height:100%; -webkit-text-size-adjust: none; overflow-y:auto; }
.wrap { position: relative; margin: 0 auto; display:block; /*overflow: hidden;*/ min-width:1200px; height:100%; }
body.popup { min-width:0; overflow:auto; }

main.contentWrap { -webkit-box-flex:1; -ms-flex:1 1 auto; flex:1 1 auto; padding:0 30px 120px 90px; min-height:0; min-width:0; -webkit-overflow-scrolling:touch; position:relative; overflow-anchor:none; box-sizing:border-box; }
main.contentWrap > * { width:100%; box-sizing:border-box; }
/* main.contentWrap > .visual-container,
main.contentWrap > .page-container { min-width:1200px; margin:0 auto; } */
main.contentWrap img { max-width:100%; }

.point-r { color:var(--point-r) !important; }
.point-b { color:var(--point-b) !important; }
.bo-t0 { border-top:0 !important; }
.bo-t1 { border-top:1px solid var(--color-d); }
.w-auto { width:auto; }
.w-100p { width:100% !important; } 
.mw-100p { max-width:100% !important; }

.dp-in-b { display:inline-block; }
.sr-only { position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow: hidden;  border:0; clip:rect(0, 0, 0, 0); white-space: nowrap; }

/*---------------------------------------------
    #컨텐츠
---------------------------------------------*/

main.contentWrap > .page-container { padding-top:34px; }
/**text-content, text-group*, process-content, process-gruop */
.page-container > [class*="-content"] > .group,
.page-container > [class*="-content"] > [class*="-group"],
.page-container > div + div.bo-t0  { margin-bottom:72px; }

.page-container > [class*="-content"]:last-child > .group:last-child,
.page-container > [class*="-content"]:last-child > [class*="-group"]:last-child,
.page-container > div:last-child + div.bo-t0:last-child  { margin-bottom:0; }

.page-container > [class*="-content"]:last-child > [class*="-group"]:last-child { margin-bottom:0; }
.page-container > [class*="-content"] > .group > [class*="-group"] { margin-bottom:52px; }
.page-container > [class*="-content"] > .group >[class*="-group"]:first-child,
.page-container > [class*="-content"] >[class*="-group"]:first-child { margin-top:0; }
.page-container > [class*="-content"] > .group > [class*="-group"]:last-child { margin-bottom:0; }
.page-container > div.tab-container + div { padding-top:0; }

[class*="-content"] + div { margin-top:54px; }
[class*="-content"] > [class*="-group"] + div { margin-top:32px; }

/**타이틀 및 텍스트**/
/* h3,
.group > .text-group:has(h5) > h4{ display:block; font-size:var(--font26); color:var(--color-2);  } */

h1 { font-family:'S-Core Dream'; font-size:var(--font26); color:var(--primary); }
h2 { font-size:var(--font28); font-weight:var(--font-w600); color:var(--color-2); }
h3 { font-size:var(--font20); font-weight:var(--font-w600); color:var(--color-2); }
h4 { font-size:var(--font18); font-weight:var(--font-w600); color:var(--color-2); }

h3 + p,
.tit + dl { margin-top:20px; }
h3.rfrnc { font-size:var(--font28) !important; color:var(--color-2) !important; }
h4.tit-diamond::before { content:"◆"; display:inline; margin-right:5px; color:var(--primary); }
h5, p.tit, h4.tit { color:var(--color-2); font-size:1rem; font-weight:var(--font-w700); }

[class*="-container"] form,
[class*="-container"] div.form { margin:52px 0 32px; }
[class*="-container"] [class*="-content"] > form:first-child { margin-top:0; }
[class*="-container"] form:last-of-type { margin-bottom:0; }
[class*="-content"] * ~ h3 { margin-top:72px; }
[class*="-content"] > .group > h3 + [class*="-group"],
[class*="-content"] > .group > h3 + p + [class*="-group"],
[class*="-content"] > .group > p:first-child + [class*="-group"] { margin-top:52px; }
[class*="-group"] h3 + *,
[class*="-group"] h4 + *,
[class*="-group"] h5 + * { margin-top:20px; }
[class*="-group"] h3 + * ~ *,
[class*="-group"] h4 + * ~ *,
[class*="-group"] h3 + * ~ *, [class*="-group"] h4 + * ~ * { margin-top:18px; }
[class*="-group"] h4 + * ~ .rfrnc { margin-top:12px; }


/**텍스트**/
/* .page-container > .text-content > .group > h3 + .text-group:first-of-type { margin-top:72px; } */
.text-content * { word-break:keep-all; line-height:1.6; }
.text-content * + p { margin-top:20px;}
p.hypn, .star, .rfrnc, .square { color:var(--color-75);  }
p.hypn:before,
.hypn li:before { content:"-"; }
.hypn dd:before { content:"-"; }
p.star:before,
.star li:before,
.star dd:before { content:"*"; margin-right:3px; }
p.square:before,
.square li:before,
.square dd:before { content:"□"; }
p.dot, .dot > li, .dot dt { position:relative; padding-left:15px; }
.dot > li { margin-bottom:12px; }
.dot > li li { margin:12px 0 0;}
.dot > li li:first-of-type { margin-top:0; }
p.dot:before,
.dot > li:before,
.dot > dt:before { content:""; display:inline-block; position:absolute; left:5px; top:10px; width:5px; height:5px; border-radius:10px; background:var(--color-75); margin-right:7px; }
.hypn li,
p.m-dot,
p.m-dot,
.m-dot dd,
.m-dot li {  text-indent:-15px; padding-left:15px; color:var(--color-75);  margin-top:12px; font-size:var(--font16); }
p.m-dot::before,
p.m-dot::before,
.m-dot dd::before,
.m-dot li::before { content:"·"; margin:0 5px; font-weight:900; }
.dot li:last-of-type,
.m-dot li:last-of-type,
.dot li:last-of-type { margin-bottom:0; }
.rfrnc { font-size:var(--font16); }
.rfrnc li { display:block; }
p.rfrnc:before,
.rfrnc li:before,
.rfrnc dd:before,
h3.rfrnc::before { content:"※ "; display:inline; position:relative; left:inherit; top:inherit; width:auto; height:auto; background:transparent; }


.text-group{
    --span-first-width:25px;
    --text-color:var(--color-45);
    --text-color2:var(--color-75);
}
.text-list li,
.text-list dd { margin-bottom:18px; }
.text-list li:last-child { margin-bottom:0; }
.text-list li > .rfrnc { display:block; margin-top:12px; margin-left:16px; }
.text-list.dot li > .rfrnc { margin-left:0; }
.text-list li > p { width:100%; }
.text-list li > * + p { margin-bottom:10px; }
.text-list li > * + p:last-child { margin-bottom:0; }
.text-list .rfrnc li { display:block !important; }

.dot dt { display:inline-flex; align-items:center; font-weight:var(--font-w700); }
.dot dd { margin-top:12px; padding-left:11px; }
.dot dt ~ dt { margin-top:18px; }

.text-group dt { font-weight:var(--font-w500); }
.text-group dt ~ dt { margin-top:20px; }
.text-group dd { margin-top:12px; color:var(--color-75); }
.text-group dd + dd { margin-top:12px; }
.text-group .button-content { margin-top:32px; }
.text-group > p:first-child { margin-top:0; }

.text-content .text-group.pl-20 > * { padding-left:20px; }
.text-content .text-group.pl-20 > h4 { padding-left:0; }

.text-group > h3 ~ .text-list li, 
.text-group > h4 ~ .text-list li { display:flex; flex-wrap:wrap; color:var(--text-color); }
.text-group > h4 ~ .text-list li .m-dot li { display:block; }
.text-group > h3 ~ .text-list li > span:first-of-type, 
.text-group > h4 ~ .text-list li > span:first-of-type { width:var(--span-first-width); flex:0 0 var(--span-first-width); }
.text-group > h3 ~ .text-list li > span:nth-of-type(2),
.text-group > h4 ~ .text-list li > span:nth-of-type(2) { flex:1; }
.text-group > h4 ~ .text-list li > ol, 
.text-group > h4 ~ .text-list li > ul,
.text-group > h4 ~ .text-list li > dl { width:100%; margin-left:0; padding-left:0;  color:var(--text-color2); }
.text-group > h4 ~ p,
.text-group > h4 ~ dl,
.text-group > h4 ~ ol,
.text-group > h4 ~ ul { color:var(--text-color);  }
.text-group > li p { width:100%; }

.text-group .text-indent { text-indent:-22px; padding-left:22px; }
.text-group .text-indent ~ * { margin-left:22px; }


/* 테이블 텍스트 */
.table-content .table-tit { padding-bottom:20px; font-size:var(--font22); color:var(--color-2); }
.table-content .table-tit + table { margin-top:0 !important; }

 /** 들여쓰기 **/
.page-container.indent .text-group .text-list > li > .text-list,
.pop-body.indent .text-group .text-list > li > ol { margin-left:20px; margin-top:12px; }

/**유의사항**/
.note-group { padding:32px 40px 42px; border:var(--board); }
.note-content .tit,
.note-group .tit { position:relative; padding-left:46px; padding-bottom:29px; font-size:var(--font22); font-weight:var(--font-w500); color:var(--color-2); }
.note-content .tit::before,
.note-group .tit::before,
.note-group .detail-tit::before { content:""; position:absolute; top:6px; left:8px; display:block; width:24px; height:24px; background:var(--ico-info)no-repeat center; background-size:auto 24px; }
.note-group ul li + li { margin-top:16px; }


/** 인풋 레이아웃 **/
.form-content > .form-wrap { display:flex; gap:20px; margin-bottom:40px; }
.form-content > .form-wrap:first-of-type { margin-top:0; }
.form-content > .form-wrap:last-of-type:not(.search-form, .noti-search),
.form-content > .form-wrap:last-of-type > .form-group:last-of-type{ margin-bottom:0; }
.form-content > .form-wrap > .form-group { flex:1; position:relative; }
.form-content > .form-wrap > .form-group:only-of-type { flex:0 0 calc(50% - 20px); }
.form-content > .form-wrap > .form-group .mo-column .flex-row .se-select,
.form-content > .form-wrap > .form-group .mo-column > .col:last-of-type { flex:0 0 152px; }
.form-content > .form-wrap.full { flex-wrap:wrap; flex-direction: column; }
.form-content > .form-wrap.full .form-group { width:100%; }

/* flex-row */
.form-content > .form-wrap > .form-group > .flex-row,
.form-content > .form-wrap > .form-group > .flex-row > div { position:relative; display:flex; align-items:center; gap:10px; flex:1; }
.form-content > .form-wrap > .form-group > .flex-row > div:only-of-type { flex:1; width:100%; }
.form-content > .form-wrap > .form-group .mo-column .flex-row > div { flex:1; }
.form-content > .form-wrap > .form-group > .flex-row .label-tit { margin-bottom:0; }

/**하단버튼 레이아웃**/
main.contentWrap > .page-container .btn-content.cta,
main.contentWrap > .bottom-container { margin-top:72px; }

/*---------------------------------------------
    #팝업 레이아웃 :: layerPopup > z-index:110; ;
---------------------------------------------*/


.layerPopup { z-index:110;  display:none; flex-direction: column; position: fixed; top:0; left:0; background-color:#fff; overflow: hidden; width:100%; visibility: hidden; opacity: 0; transition: opacity 0.3s ease;}
.layerPopup .pop-content:focus-visible { outline: 2px solid var(--outline); outline-offset: -2px; }
.layerPopup.full.on::before,
.layerPopup.modal.on::before,
.layerPopup.on::before { content: ''; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.3); z-index:-1; }
/* 팝업_헤더 */
.layerPopup .pop-header { display:flex; justify-content:space-between; align-items:center;  margin-bottom:24px;  width:100%;  }
.layerPopup .pop-header .pop-tit h2 { display:block; font-size:var(--font28); font-weight:600; }

/* 팝업_콘텐츠 */
.layerPopup > .pop-content { position:fixed; padding:32px 34px 38px 38px; max-width:800px; min-width:540px; width:100%; height:auto; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:12px; overflow:hidden; background-color:var(--color-f);}
.layerPopup .pop-body { width:auto; padding:0; max-height:508px; height:100%; overflow-y: auto; }
.layerPopup.on { display:block; visibility: visible;  opacity: 1; }
.layerPopup .pop-header.on,
.pop-btm-wrap.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }/*스크립트 :: 스크롤*/
.layerPopup [class*="-content"] > [class*="-group"] { margin-bottom:46px; }
.layerPopup [class*="-content"] > [class*="-group"]:last-of-type { margin-bottom:0; }

.layerPopup .pop-footer { margin-top:48px; }
.layerPopup .pop-footer .button-content { display:flex; justify-content:center; gap:16px; text-align:center; }
.layerPopup .alert .pop-footer .button-content .btn-pop-primary { max-width:100%; }


/* 팝업_풀팝업 */
.layerPopup .pop-area:focus-visible { outline: 2px solid var(--outline); outline-offset: -2px; }
.layerPopup.full { display:initial; min-height:auto; }
.layerPopup.full > .pop-area { display:flex; flex-direction:column;  position:fixed; width:80%; height:80%; max-width:800px; max-height:688px; top:50%; left:50%; transform:translate(-50%, -50%); background:var(--color-f); border-radius:28px; }
.layerPopup.full .pop-header { padding:44px 34px 12px; margin-bottom:0; }
.layerPopup.full .pop-header h2 { font-size:var(--font24); font-weight:var(--font-w700); color:var(--color-2); }
.layerPopup.full .pop-body { padding:24px 34px 20px; flex:1; overflow-y:auto; }
.layerPopup.full .pop-footer { margin-top:0; padding:28px 34px 38px; display:flex; align-items:center; justify-content:center; }



/* 팝업_모달팝업*/
.layerPopup.modal .pop-content { max-width:400px; padding:32px 32px 28px 32px; min-width:auto; height:auto; width:calc(100% - 40px); border-radius:20px;  }
.layerPopup.modal .pop-header { padding:0; }
.layerPopup.modal .pop-body {  margin-bottom:30px; padding:0; max-height:508px; height:100%; overflow-x:hidden; overflow-y:auto; font-size:var(--font18); }
.layerPopup.modal .pop-body:focus { border:0; outline:0; }
.layerPopup.modal .pop-body .tit { margin-bottom:12px; font-size:1.111rem; font-weight:500;}
.layerPopup.modal .pop-body p { font-size:1rem; text-align:center; }
.layerPopup.modal .pop-body table { min-width:unset; }
.layerPopup.modal .pop-footer { margin-top:42px; }

/**팜업 버튼*/
.btn-close { display:block; position:absolute; top:44px; right:34px; width:40px; height:40px; background: var(--ico-close) no-repeat center; background-size:22px; font-size:0;  }
