@charset "utf-8";

:root {
    --font12: 0.75rem;
    --font14: 0.875rem;
    --font16: 1rem;
    --font18: 1.125rem;
    --font20: 1.25rem;
    --font22: 1.375rem;
    --font24: 1.5rem;
    --font26: 1.625rem;
    --font28: 1.75rem;
    --font30: 1.875rem;
    --font32: 2rem;
    --font34: 2.125rem;
    --font36: 2.25rem;
    --font38: 2.375rem;
    --font40: 2.5rem;
    --font42: 2.625rem;

    --font-w100: 100;
    --font-w200: 200;
    --font-w300: 300;
    --font-w400: 400;
    --font-w500: 500;
    --font-w600: 600;
    --font-w700: 700;
    --font-w800: 800;
    --font-w900: 900;

}


body {
    --dim: rgba(0, 0, 0, 0.5);
    --white-dim: rgba(255, 255, 255, 0.5);

    --active: #3182EE;

    --red: #E52A00;

    /** 기본 색상 **/
    --primary: #02294A;
    --secondary: #3182EE;

    /** label Color **/
    --ing-bg:#DEF2FF;
    --ing-text:#3182EE;
    --end-bg:#C9C9C9;
    --end-text:#02294A;
    --success-bg:#D3F1DE;
    --success-text:#166734;
    --error-bg:#FBDEDE;
    --error-text:#F00;

    /** Text Color **/
    --color-2:#222222; /* 타이틀 */
    --color-45:#454545; /* 본문 */
    --color-75:#757575; /* 보조 */
    --color-9:#999999; /* 비활성 */

    --color-f:#FFFFFF;
    --color-f8:#F8F8F8;
    --color-c:#CCCCCC;
    --color-d:#DDDDDD;
    --color-f6:#F6F6F6;
    --bg-box:#F3F6FB;


    --outline: #0871F3;
}
