<nav class="side-nav">
    <div class="logo">
        <a href="#none">
            <img src="../../resource/images/com/svg/orix_logo.svg" alt="ORIX로고" />
        </a>
    </div>
    <ul class="side-menu">
        <li>
            <a href="#none" title="공매입찰관리" data-nav-id="bidg">
                <img src="../../resource/images/com/svg/btn_bid_manage.svg" alt="공매입찰관리" />
            </a>
        </li>
        <li>
            <a href="#none" title="사용자관리" data-nav-id="ifma">
                <img src="../../resource/images/com/svg/btn_user_manage.svg" alt="사용자관리" />
            </a>
        </li>
    </ul>
</nav>
