@charset "utf-8";
/* 아코디언 리스트 레이아웃 */
.accordion-list, .check-list { display: flex; flex-direction: column; border-top: 1px solid var(--color-e); }
/* 체크 리스트: 아코디언 동작 없이 체크만 필요한 약관 리스트 */
.check-list { border-top: none; }
.check-list .acc-item:first-child .term-head{padding-top: 0;}

.acc-item { border-bottom: 1px solid var(--color-e); }
.acc-item:last-child { border-bottom: 0; }
.acc-head { display: flex; justify-content: space-between; align-items: center; padding: 32px 0; cursor: pointer;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.acc-item:last-child .acc-head { padding-bottom: 0; }
.acc-head .check-group { margin-bottom: 0; }
.acc-head .check-group label { font-size: var(--font20); font-weight: var(--font-w-m); color: var(--color-45); pointer-events: none; }
.acc-head .check-group label::before,
.acc-head .check-group label::after {pointer-events: auto; cursor: pointer;}
.acc-head .check-group label span { font-size: var(--font20); }

/* 약관 제목 및 토글 버튼 */
.term-tit { color: var(--color-45); margin-bottom: 20px; font-weight: var(--font-w-m); }
.btn-toggle { width: 24px; height: 24px; background: url('../../resource/images/svg/ico_arrow_toggle.svg') no-repeat center / contain; transition: transform 0.3s ease; cursor: pointer; border: none; }
.acc-item.active .btn-toggle { transform: rotate(180deg); }

/* 아코디언 바디 및 내부 스크롤 영역 */
.acc-body { display: none; background-color: #FAFAFA; padding: 0; overflow: hidden; }
.acc-item:last-child .acc-body { margin-top: 32px; }
.term-content { font-size: var(--font16); color: var(--color-9); line-height: 1.5; padding: 20px; max-height: 500px; overflow-y: auto; font-weight: var(--font-w-r); }

/* 26.05.16 아코디언 뱃지, 상단 안내사항 */
.terms-guide { margin-bottom: 32px; padding: 20px; background: var(--color-fa); font-size: var(--font16); font-weight: var(--font-w-m); color: var(--color-45); line-height: 1.5; }
.term-badge { display: inline-flex; align-items: center; justify-content: center; width: 80px; height: 32px; margin-right: 12px; padding: 5px 10px; border-radius: 100px; box-sizing: border-box; font-size: var(--font18) !important; line-height: 1; text-align: center; white-space: nowrap; }
.term-badge.is-pending { background: #FFE7E7; color: var(--error); font-weight: var(--font-w-r); }
.term-badge.is-complete { background: #F0F6FF; color: var(--primary); font-weight: var(--font-w-m); }
.term-badge.is-pending.small,
.term-badge.is-complete.small { font-size: var(--font16) !important; width: 80px; height: 32px; }
