@charset "utf-8";

.page-tit { text-align: center; font-size: var(--font38); font-weight: var(--font-w-b); color: var(--color-2); margin-bottom: 56px; }

/* 메인 시작 페이지 전용 컨텐츠 스타일 */
.main-page .intro-section { text-align: center; color: #fff; width: 100%; /* transform: translateY(-20px); */ }
.intro-top-txt { margin-bottom: 34px; }
.intro-top-txt .eng { font-size: var(--font24); font-weight: var(--font-w-r); margin-bottom: 22px; }
.intro-top-txt .sub { font-size: var(--font32);}
.main-page .intro-tit { font-size: 86px; font-weight: var(--font-w-r);}

.intro-cta-bar { position: absolute; bottom: 0; right: 0; z-index: 10; transform: translateY(50%); text-decoration: none; }
.intro-cta-bar:hover .cta-inner { background-color: #0F5FCB; } /* 호버 시 바 전체 색상 살짝 변경 임시*/
.intro-cta-bar:hover .badge-start { color: #0f5fcb; }

.cta-inner { display: flex; align-items: center; background: var(--primary); border-radius: 60px 0 0 0; width: 1250px; padding: 28px 62px 28px 48px; box-sizing: border-box; position: relative; transition: background-color 0.2s; }
.cta-inner::after { content: ''; position: absolute; right: 62px; top: 50%; transform: translateY(-50%); width: 40px; height: 40px; background: url("../svg/guidance_right-arrow-40.svg") no-repeat center / contain; }
.badge-start { display: inline-block; background: #fff; color: var(--primary); padding: 20px 24px; border-radius: 100px; font-size: var(--font22); font-weight: var(--font-w-b); white-space: nowrap; transition: 0.2s; }
.cta-desc { flex: 1; margin-left: 28px; text-align: left; font-size: var(--font22); color: var(--color-f); font-weight: var(--font-w-r); white-space: nowrap; }


.error-visual { width: 285px; height: 263px; margin: 0 auto 20px; background: url('../images/main_error.png') no-repeat center / contain; aspect-ratio: 272 / 251; }
.s-ready-visual {width: 285px; height: 263px; margin: 0 auto 20px; background: url('../images/service_ready.png') no-repeat center / contain; aspect-ratio: 272 / 251;}
.error-tit, .s-ready-tit { font-size: 54px; font-weight: var(--font-w-sb); color: #000; margin-bottom: 42px;}
.error-info-box, .s-ready-info-box { border-top: 1px solid var(--color-d); padding: 32px 24px; display: inline-block; max-width: 730px; }
.error-desc , .s-ready-desc{ font-size: var(--font26); color: var(--color-6); line-height: 1.6; font-weight: var(--font-w-r); word-break: keep-all; }

/* 스텝 인디케이터 (1-2-3) */
.step-area { display: flex; justify-content: center; gap: 12px; margin-bottom: 20px; }
.step-area li { width: 30px; height: 30px; border-radius: 50%; background-color: #DFE4EB; color: var(--color-6); font-size: var(--font18); font-weight: var(--font-w-r); display: flex; justify-content: center; align-items: center; }
.step-area li.active { background-color: var(--primary); color: #fff; }

/* 정보 리스트 */
.info-list { display: flex;flex-direction: column;gap: 32px; }
.info-list li { display: flex; justify-content: space-between;}
.info-list .tit {flex-shrink: 0; margin-right: 20px; font-size: var(--font20); font-weight: var(--font-w-l); color: var(--color-6); white-space: nowrap;}
.info-list .desc {display: flex; flex-direction: column; gap: 18px; font-size: var(--font20); color: var(--color-45); text-align: right; word-break: break-all;}

/* 차량 정보 뷰 */
.vehicle-view { text-align: center; margin-bottom: 30px; }
.vehicle-view .sub { font-size: var(--font18); font-weight: var(--font-w-r); color: var(--color-6); margin-bottom: 8px; }
.vehicle-view .model { font-size: var(--font22); font-weight: var(--font-w-sb); color: var(--color-45); }
.vehicle-view .img-wrap img { max-width: 360px; margin: 0 auto; }

/* 결과 안내 박스 (Payment Result) */
.payment-result-box { background-color: #F0F6FF; border-radius: 12px; padding: 28px 26px; display: flex; justify-content: space-between; align-items: center; }
.payment-result-box.ver2 {background-color: #F3F5F7; color: var(--color-2);}
.payment-result-box.ver2 .date{color: #0F3862;}
.payment-result-box.first_element { margin-left: -20px; margin-right: -20px;}
.payment-result-box .label { font-size: var(--font20); font-weight: var(--font-w-m); color: var(--color-2); }
.payment-result-box .date { font-size: var(--font26); font-weight: var(--font-w-sb); color: var(--primary); }
.payment-notice { display: flex; align-items: flex-start; font-size: var(--font16); font-weight: var(--font-w-r); color: var(--color-75); margin-bottom: 20px; line-height: 1.5;}
.payment-notice::before { content: ''; display: inline-block; width: 20px; height: 20px; background: url('../svg/ico-warning-999.svg') no-repeat center / contain; margin-right: 10px; flex-shrink: 0;}

/* 약관 동의 헤더 */

/* 스크롤바 커스텀 */
.term-content::-webkit-scrollbar { width: 8px; }
.term-content::-webkit-scrollbar-button { display: none; }
.term-content::-webkit-scrollbar-thumb {
    background-color: #ccc; border-radius: 0px;
    background-clip: padding-box; border: 2px solid transparent;
}

.agree-header {border-bottom: 1px solid var(--color-d);}
.agree-header label {font-size: var(--font26); font-weight: var(--font-w-b);color: var(--color-2);}

/* 약관 리스트 당구장 표시 정렬 */
.bul-refer { margin-bottom: 20px; }
.bul-refer li { position: relative; padding-left: 15px; line-height: 1.5; font-size: var(--font16); color: var(--color-45); }
.bul-refer li::before { content: '※'; position: absolute; left: 0; top: 0; color: inherit; }

/* 전자서명 전용 카드 박스 및 바디 레이아웃 */
.card-box.contract-item { padding: 32px 50px; margin-bottom: 28px; overflow: hidden; min-height: 99px; }
.contract-item .acc-head { padding-top: 0; }
.contract-item .acc-body { margin-top: 32px; }
.contract-item .head-inner { display: flex; align-items: center; gap: 18px; }
.contract-item .tit { font-size: var(--font22); font-weight: var(--font-w-m); color: var(--color-2); }
.contract-item .acc-item { border: none; }
.acc-content { padding: 50px; overflow: hidden; }

/* 상태 뱃지 */
.badge { display: inline-block; padding: 8px 24px; border-radius: 100px; font-size: var(--font16); font-weight: var(--font-w-m); min-width: 90px; text-align: center; }
.badge.state-gray { background-color: var(--color-e); color: var(--color-6); }
.badge.state-blue { background-color: var(--primary); color: var(--color-f); }

/* 고객정보 요약 바 (N등분 비율 고정) */
.info-bar-group { display: flex; background: #F4F4F4; padding: 16px 40px; margin-bottom: 12px; }
.info-bar-group dl { display: flex; align-items: center; gap: 10px; position: relative; }
.info-bar-group dl:nth-child(1) { width: 19%; justify-content: flex-start; }
.info-bar-group dl:nth-child(2) { width: 33%; justify-content: center; }
.info-bar-group dl:nth-child(3) { width: 26%; justify-content: center; }
.info-bar-group dl:nth-child(4) { flex: 1; justify-content: flex-end; }
.info-bar-group dl::after { content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 12px; background-color: var(--color-d); }
.info-bar-group dl:last-child::after { display: none; }
.info-bar-group dt { font-weight: var(--font-w-b); color: var(--color-2); font-size: var(--font12); white-space: nowrap; }
.info-bar-group dd { color: var(--color-45); font-size: var(--font12); white-space: nowrap; }

/* 섹션 타이틀 (블루 바) */
.sec-tit { background: #0F3862; color: var(--color-f); padding: 6px 16px; font-size: var(--font14); font-weight: var(--font-w-b); display: flex; align-items: center; width: 100%; margin-bottom: 0; box-sizing: border-box; }
.sec-tit::before { content: '•'; margin-right: 8px; font-size: var(--font14); line-height: 1; }
.sec-tit .sub-txt { font-weight: var(--font-w-r); font-size: var(--font12); color: #F8F8F8; margin-left: 20px; }

/* 서명 영역 (갑/을 분리) */
.doc-footer { margin-top: 22px; }
.final-desc { font-size: var(--font14); text-align: center; font-weight: var(--font-w-r); line-height: 1.6; word-break: keep-all; max-width: 862px; margin: 0 auto; padding-bottom: 40px; color: var(--color-2); }
.doc-dot-txt { font-size: 11px; color: var(--color-45); font-weight: var(--font-w-r); margin-top: 10px; margin-bottom: 20px; }
.sign-area { display: flex; justify-content: space-between; align-items: flex-start; }
.sign-left { width: 50%; }
.sign-box { display: flex; justify-content: space-between; align-items: center; background: #FFF8F0; padding: 12px 10px 12px 14px; margin-bottom: 10px; font-size: var(--font14); }
.sign-box .user { color: var(--color-75); font-weight: var(--font-w-r);}
.sign-box .val { color: var(--color-2); font-weight: var(--font-w-sb);}
.sign-box .action { color: #CB4000; font-size: var(--font10); font-weight: var(--font-w-r); }
.sign-right { display: flex; justify-content: flex-end; width: 50%; }
.eul-wrap { display: flex; text-align: left; gap: 26px; }
.eul-label { color: var(--color-75); font-size: var(--font14); font-weight: var(--font-w-m); }
.eul-data { color: var(--color-2); font-size: var(--font12); font-weight: var(--font-w-m); line-height: 1.5; }
.ceo-row { position: relative; margin-top: 26px; display: flex; align-items: center; font-weight: var(--font-w-sb); font-size: var(--font16); color: var(--color-2); }
.stamp-img { position: absolute; right: 0px; top: -30px; mix-blend-mode: multiply; }
.stamp-img img { width: 75px; }

/* 하단 안내 가이드 (.info-guide) */
.card-box.info-guide { padding: 32px 50px 42px 50px; margin-top: 57px; }
.info-guide .tit { display: flex; align-items: center; font-size: var(--font18); font-weight: var(--font-w-sb); color: var(--primary); margin-bottom: 12px; }
.info-guide .tit::before { content: ''; display: inline-block; width: 22px; height: 22px; background: url('../svg/ico_warning_blue.svg') no-repeat center / contain; margin-right: 8px; flex-shrink: 0; }
.info-guide .desc { font-size: var(--font16); color: var(--color-6); font-weight: var(--font-w-r); line-height: 1.5; padding-left: 31px; }

/* -------------- 완료페이지---------- */

/* 완료 이미지 */
.complete-visual { width: 246px; height: 220px; margin: 0 auto 16px; background: url('../images/Approved.png') no-repeat center / contain; }

/* 메인 타이틀 및 설명 */
.complete-tit { font-size: var(--font38); font-weight: var(--font-w-b); color: var(--color-2); margin-bottom: 12px; letter-spacing: -1px; }
.complete-desc { font-size: var(--font18); color: var(--color-6); line-height: 1.5; font-weight: var(--font-w-r);margin-bottom: 42px; }

/* 하단 다운로드 박스 */
.download-box { display: flex; align-items: center; justify-content: space-between; background-color: #F0f6ff; border-radius: 20px; padding: 26px 48px; text-align: left; }
.download-box .txt-area { flex: 1; }
.download-box .tit { font-size: var(--font24); font-weight: var(--font-w-m); color: var(--color-2); margin-bottom: 10px; }
.download-box .desc { font-size: var(--font16); font-weight: var(--font-w-r); color: var(--color-6);}

@media (max-width: 1600px) {
    .complete-visual { width: 196px; height: 175px;}
    .complete-tit { font-size: var(--font34);}
    .complete-desc { font-size: var(--font14);}
    .download-box .tit { font-size: var(--font20);}
    .download-box .desc { font-size: var(--font14);}

    .intro-top-txt .eng { font-size: var(--font18); margin-bottom: 12px; }
    .intro-top-txt .sub { font-size: var(--font24);}
    .main-page .intro-tit { font-size: 64px;}
    .cta-inner { width: 1060px; }
    .badge-start { padding: 16px 24px; font-size: var(--font18);}
    .cta-desc { font-size: var(--font18);}
    .main-page .intro-section { transform: translateY(-23px); }
}
