@charset "utf-8";

/* 페이지 타이틀 */
.visual-content { width: 100%; margin:52px 0 56px; text-align: center; }
.visual-content .page-tit { text-align: center; font-size: var(--font38); font-weight: var(--font-w-b); color: var(--color-2); }
.visual-content .s-tit { margin-top: 12px; font-size: var(--font18); font-weight: var(--font-w-r); color: var(--color-6); line-height: 1.5; }

/* 메인 시작 페이지 전용 컨텐츠 스타일 */
.main-copy { position: relative; z-index: 5; width: 1600px; color: #fff; }
.main-eyebrow { margin-bottom: 22px; font-size: var(--font32); font-weight: var(--font-w-r); }
.main-title { font-size: 72px; font-weight: var(--font-w-b); color: #fff; }
.main-title .lg { font-size: 80px; }
.main-title em { color: #4ADDFD; }
.main-desc { margin-top: 25px; font-size: var(--font24); font-weight: var(--font-w-r);}

.main-start-btn { position: absolute; right: calc((100% - 1600px) / 2); top: 300px; z-index: 5; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 18px; width: 200px; height: 200px; border-radius: 50%; background: var(--primary); color: #fff; font-size: 30px; font-weight: var(--font-w-b); box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.25); }
.main-start-btn::after { content: ''; display: block; width: 32px; height: 32px; background: url("../../resource/images/svg/ico_arrow_enter.svg") no-repeat center / contain; }

.main-notice { position: relative; z-index: 5; display: flex; align-self: flex-start; width: 1096px; height: 204px; margin: 156px 0 0 calc((100% - 1600px) / 2); padding: 8px; background: rgba(255, 255, 255, 0.60); box-sizing: border-box; }
.main-notice .notice-label { flex: 0 0 224px; width: 224px; height: 188px; display: flex; align-items: center; justify-content: center; background: #fff; font-size: var(--font24); font-weight: var(--font-w-sb); color: var(--color-2); }
.main-notice .notice-content { flex: 1; height: 188px; padding: 12px 24px 0; box-sizing: border-box; overflow: hidden; color: var(--color-45); font-size: var(--font16); line-height: 1.6; }
.main-notice .notice-main { margin-bottom: 22px; font-size: 20px; line-height: 1.5; font-weight: var(--font-w-sb); color: var(--color-2); }
.main-notice .notice-sub {margin-bottom: 8px;}

.error-visual { width: 285px; height: 263px; margin: 0 auto 20px; background: url('../images/main_error.png') no-repeat center / contain; aspect-ratio: 272 / 251; }
.s-ready-visual {width: 285px; height: 263px; margin: 0 auto 20px; background: url('../images/service_ready.png') no-repeat center / contain; aspect-ratio: 272 / 251;}
.error-tit, .s-ready-tit { font-size: 54px; font-weight: var(--font-w-sb); color: #000; margin-bottom: 42px;}
.error-info-box, .s-ready-info-box { border-top: 1px solid var(--color-d); padding: 32px 24px; display: inline-block; max-width: 730px; }
.error-desc , .s-ready-desc{ font-size: var(--font26); color: var(--color-6); line-height: 1.6; font-weight: var(--font-w-r); word-break: keep-all; }

/* 스텝 프로그레스 */
.step-progress { position: sticky; top: 70px; z-index: 90; display: flex; width: 100%; padding: 26px 0; background-color: #F2F3F8; justify-content: center; align-items: center; gap: 60px; counter-reset: step; }

.step-progress li { display: flex; min-width: 0; align-items: center; counter-increment: step; }
.step-progress li::before { content: counter(step); display: inline-flex; width: 32px; height: 32px; margin-right: 12px; border: 1px solid #3182EE; border-radius: 50%; font-size: var(--font18); font-weight: var(--font-w-r); color: #3182EE; justify-content: center; align-items: center; flex-shrink: 0; }

.step-progress .step-txt { display: block; font-size: var(--font20); font-weight: var(--font-w-r); color: var(--color-6); white-space: nowrap; }

.step-progress li.done::before { content: ''; border-color: #062D4D; background: #062D4D url('../images/svg/ico_check_circle.svg') no-repeat center / 12px 9px; font-size: 0; color: transparent; }
.step-progress li.done .step-txt { color: var(--color-2); }

.step-progress li.active::before { border-color: var(--primary); background: var(--primary); font-weight: var(--font-w-m); color: var(--color-f); }
.step-progress li.active .step-txt { font-weight: var(--font-w-m); color: var(--primary); }

/* 정보 리스트 */
.info-list { display: flex;flex-direction: column;gap: 32px; }
.info-list li { display: flex; justify-content: space-between;}
.info-list .tit {flex-shrink: 0; margin-right: 20px; font-size: var(--font20); font-weight: var(--font-w-l); color: var(--color-6); white-space: nowrap;}
.info-list .desc {display: flex; /* flex-direction: column; */ gap: 6px; font-size: var(--font20); font-weight: var(--font-w-m); color: var(--color-45); text-align: right; word-break: break-all;}
.info-list .desc span {font-size: var(--font18); font-weight: var(--font-w-l); color: var(--color-6);}
/* 차량 정보 뷰 */
.vehicle-view { text-align: center; margin-bottom: 30px; }
.vehicle-view .sub { font-size: var(--font18); font-weight: var(--font-w-r); color: var(--color-6); margin-bottom: 8px; }
.vehicle-view .model { font-size: var(--font22); font-weight: var(--font-w-sb); color: var(--color-45); }
.vehicle-view .img-wrap img { max-width: 360px; margin: 0 auto; }

/* 결과 안내 박스 (Payment Result) */
.payment-result-box { background-color: #F0F6FF; border-radius: 12px; padding: 28px 26px; display: flex; justify-content: space-between; align-items: center; margin-top: 32px;}
.payment-result-box.ver2 {background-color: #F3F5F7; color: var(--color-2);}
.payment-result-box.ver2 .date{color: #0F3862;}
.payment-result-box.first_element { margin-left: -20px; margin-right: -20px;}
.payment-result-box .label { font-size: var(--font20); font-weight: var(--font-w-m); color: var(--color-2); }
.payment-result-box .date { font-size: var(--font26); font-weight: var(--font-w-sb); color: var(--primary); }
/* .payment-notice { display: flex; align-items: flex-start; font-size: var(--font16); font-weight: var(--font-w-r); color: var(--color-75); margin-bottom: 20px; line-height: 1.5;}
.payment-notice::before { content: ''; display: inline-block; width: 20px; height: 20px; background: url('../images/svg/ico_warning_999.svg') no-repeat center / contain; margin-right: 10px; flex-shrink: 0;} */

/* 약관 동의 헤더 */

/* 인증번호 타이머 */
.form-row .auth-timer {display: none;}
.form-row .auth-timer.on {position: absolute; display: flex; align-items: center; justify-content: center; font-size: var(--font14); color: var(--error); top: 23px; right: 180px;}
/* 스크롤바 커스텀 */
.term-content::-webkit-scrollbar { width: 8px; background-color: #EEEEEE; }
.term-content::-webkit-scrollbar-button { display: none; }
.term-content::-webkit-scrollbar-thumb { width: 8px;
    background-color: var(--color-9); border-radius: 0px;
}

.agree-header {border-bottom: 1px solid var(--color-d);}
.agree-header .check-group { margin-bottom: 32px; }
.agree-header label {font-size: var(--font22); font-weight: var(--font-w-sb); color: var(--color-45);}
.agree-header label::before { width: 32px; height: 32px; }
.agree-header .check-group input[type="checkbox"]:checked + label { color: var(--color-2); }

.term-head .check-group label { font-weight: var(--font-w-m); color: var(--color-45); }

/* 약관 리스트 당구장 표시 정렬 */
.bul-refer { margin-bottom: 20px; }
.bul-refer li { position: relative; padding-left: 15px; line-height: 1.5; font-size: var(--font16); color: var(--color-45); }
.bul-refer li::before { content: '※'; position: absolute; left: 0; top: 0; color: inherit; }

/* 전자서명 전용 카드 박스 및 바디 레이아웃 */
.card-box.contract-item { padding: 32px 50px; margin-bottom: 28px; overflow: hidden; min-height: 99px; }
.contract-item .acc-head { padding-top: 0; }
.contract-item .acc-body { margin-top: 32px; }
.contract-item .head-inner { display: flex; align-items: center; gap: 18px; }
.contract-item .tit { font-size: var(--font22); font-weight: var(--font-w-m); color: var(--color-2); }
.contract-item .acc-item { border: none; }
.acc-content { padding: 50px; overflow: hidden; }

/* 상태 뱃지 */
.badge { display: inline-block; padding: 8px 24px; border-radius: 100px; font-size: var(--font16); font-weight: var(--font-w-m); min-width: 90px; text-align: center; }
.badge.state-gray { background-color: var(--color-e); color: var(--color-6); }
.badge.state-blue { background-color: var(--primary); color: var(--color-f); }

/* 고객정보 요약 바 (N등분 비율 고정) */
.info-bar-group { display: flex; background: #F4F4F4; padding: 16px 40px; margin-bottom: 12px; }
.info-bar-group dl { display: flex; align-items: center; gap: 10px; position: relative; }
.info-bar-group dl:nth-child(1) { width: 19%; justify-content: flex-start; }
.info-bar-group dl:nth-child(2) { width: 33%; justify-content: center; }
.info-bar-group dl:nth-child(3) { width: 26%; justify-content: center; }
.info-bar-group dl:nth-child(4) { flex: 1; justify-content: flex-end; }
.info-bar-group dl::after { content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 12px; background-color: var(--color-d); }
.info-bar-group dl:last-child::after { display: none; }
.info-bar-group dt { font-weight: var(--font-w-b); color: var(--color-2); font-size: var(--font12); white-space: nowrap; }
.info-bar-group dd { color: var(--color-45); font-size: var(--font12); white-space: nowrap; }

/* 섹션 타이틀 (블루 바) */
.sec-tit { background: #0F3862; color: var(--color-f); padding: 6px 16px; font-size: var(--font14); font-weight: var(--font-w-b); display: flex; align-items: center; width: 100%; margin-bottom: 0; box-sizing: border-box; }
.sec-tit::before { content: '•'; margin-right: 8px; font-size: var(--font14); line-height: 1; }
.sec-tit .sub-txt { font-weight: var(--font-w-r); font-size: var(--font12); color: #F8F8F8; margin-left: 20px; }

/* 서명 영역 (갑/을 분리) */
.doc-footer { margin-top: 22px; }
.final-desc { font-size: var(--font14); text-align: center; font-weight: var(--font-w-r); line-height: 1.6; word-break: keep-all; max-width: 862px; margin: 0 auto; padding-bottom: 40px; color: var(--color-2); }
.doc-dot-txt { font-size: 11px; color: var(--color-45); font-weight: var(--font-w-r); margin-top: 10px; margin-bottom: 20px; }
.sign-area { display: flex; justify-content: space-between; align-items: flex-start; }
.sign-left { width: 50%; }
.sign-box { display: flex; justify-content: space-between; align-items: center; background: #FFF8F0; padding: 12px 10px 12px 14px; margin-bottom: 10px; font-size: var(--font14); }
.sign-box .user { color: var(--color-75); font-weight: var(--font-w-r);}
.sign-box .val { color: var(--color-2); font-weight: var(--font-w-sb);}
.sign-box .action { color: #CB4000; font-size: var(--font10); font-weight: var(--font-w-r); }
.sign-right { display: flex; justify-content: flex-end; width: 50%; }
.eul-wrap { display: flex; text-align: left; gap: 26px; }
.eul-label { color: var(--color-75); font-size: var(--font14); font-weight: var(--font-w-m); }
.eul-data { color: var(--color-2); font-size: var(--font12); font-weight: var(--font-w-m); line-height: 1.5; }
.ceo-row { position: relative; margin-top: 26px; display: flex; align-items: center; font-weight: var(--font-w-sb); font-size: var(--font16); color: var(--color-2); }
.stamp-img { position: absolute; right: 0px; top: -30px; mix-blend-mode: multiply; }
.stamp-img img { width: 75px; }

/* 안내 가이드 */
.info-guide { padding: 24px; background: #FAFAFA; border-radius: 8px; }

/* 완료 페이지 안내 박스 */
.complete-notice-box { width: 1000px; margin: 62px auto 0; padding: 32px 50px 42px; background-color: #F0F6FF; border-radius: 20px; box-sizing: border-box; text-align: left; }

/* 안내 박스, 완료 페이지 안내박스 공통 */
.info-guide .tit,
.complete-notice-box .tit { display: flex; align-items: center; margin-bottom: 12px; font-size: var(--font18); font-weight: var(--font-w-sb); color: var(--primary); }

.info-guide .tit::before,
.complete-notice-box .tit::before { content: ''; display: inline-block; width: 22px; height: 22px; margin-right: 8px; background: url('../images/svg/ico_warning_blue.svg') no-repeat center / contain; flex-shrink: 0; }

.info-guide .desc,
.complete-notice-box .desc { font-size: var(--font16); font-weight: var(--font-w-r); color: var(--color-6); line-height: 1.5; }

.info-guide .desc p { position: relative; padding-left: 18px; margin-left: 7px; }
.complete-notice-box .desc p { position: relative; padding-left: 18px; margin-left: 0; }

.info-guide .desc p + p,
.complete-notice-box .desc p + p { margin-top: 12px; }

.info-guide .desc p::before,
.complete-notice-box .desc p::before { content: "•"; position: absolute; left: 0; top: 0; }

/* 안내 가이드 폰트 큰 버전 (.info-guide.type-big) */
.info-guide { padding:24px; background: #FAFAFA; border-radius: 20px;}
.info-guide.type-big .guide-list > li {position: relative;padding-left: 18px;font-size: var(--font20);font-weight: var(--font-w-r);color: var(--color-45);line-height: 1.5;}
.info-guide.type-big .guide-list > li + li {margin-top: 8px;}
.info-guide.type-big .guide-list > li::before {content: '•';position: absolute;left: 0;top: 0;}
.info-guide.type-big .bul-refer {margin-top: 8px;margin-bottom: 8px;}
.info-guide.type-big .bul-refer li {font-size: var(--font18);color: var(--color-75);}
/* -------------- 완료페이지---------- */

/* 완료 이미지 */
.complete-visual { width: 246px; height: 220px; margin: 0 auto 16px; background: url('../images/Approved.png') no-repeat center / contain; }

/* 메인 타이틀 및 설명 */
.complete-tit { font-size: var(--font38); font-weight: var(--font-w-b); color: var(--color-2); margin-bottom: 12px; letter-spacing: -1px; }
.complete-desc { font-size: var(--font18); color: var(--color-6); line-height: 1.5; font-weight: var(--font-w-r);margin-bottom: 42px; }

/* 하단 다운로드 박스 */
.download-box { display: flex; align-items: center; justify-content: space-between; padding: 26px 48px; margin-top: 62px; background-color: #F0f6ff; border-radius: 20px; text-align: left; }
.download-box .txt-area { flex: 1; }
.download-box .tit { font-size: var(--font24); font-weight: var(--font-w-m); color: var(--color-2); margin-bottom: 10px; }
.download-box .desc { font-size: var(--font16); font-weight: var(--font-w-r); color: var(--color-6);}

/* 전자약정 */
.pay-sub-area { margin: 20px 0 32px; }

/* ---- 약정서 및 약관 동의 스타일 -----*/
/* 주요 약정사항 전체 동의 */
.card-box.terms .acc-item { border: 0; }
.card-box.terms .term-head { padding: 32px 0 24px; }
.card-box.terms .term-head .check-group { margin-bottom: 0; }
.card-box.terms .acc-body { display: block; border-radius: 0; background: transparent; }
.card-box.terms .term-content { max-height: none; padding: 20px; background: var(--color-f8); overflow: visible; }
.card-box.terms .term-content > p { font-size: var(--font16); color: var(--color-6); }
.card-box.terms .term-content .term-tit { margin-bottom: 14px; }
.card-box.terms .term-content .term-tit:last-child { margin-bottom: 0; }
.card-box.terms .term-content .bul-refer,
.card-box.terms .acc-item:last-child .acc-body { margin: 0; }
.card-box.terms .term-content .bul-refer li { color: var(--color-6); }
.card-box.terms .final-desc { margin-top: 42px; padding: 36px 26px; border: 1px solid var(--color-e); border-radius: 10px; text-align: center; }
.card-box.terms .final-desc strong { display: block; margin-bottom: 16px; font-size: var(--font22); color: var(--color-45); }
.card-box.terms .final-desc p { font-size: var(--font18); color: var(--color-45); line-height: 1.5; }

/* 과태료/범칙금 */
.card-box.notice .tit { margin-bottom: 14px; font-size: var(--font20); font-weight: var(--font-w-m); color: var(--color-45); line-height: 1.5;}
.card-box.notice .info { position: relative; padding-left: 26px; font-size: var(--font16); font-weight: var(--font-w-r); color: var(--color-75); line-height: 1.5;}
.card-box.notice .info::before { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 20px; height: 20px; background: url("../../resource/images/svg/ico_info.svg") no-repeat center center; }

/* 상품 신청 내역 */
.card-box.summary .info-list .tit,
.card-box.summary .info-list .desc { font-size: var(--font18); }
.card-wrap { display: flex; flex: 1; flex-direction: column; gap: 20px; min-height: 0; }
.card-wrap > .card-box { position: relative; display: flex; flex-direction: column; min-height: 0; padding: 42px 50px 58px; overflow: hidden; }
.card-wrap > .card-box.is-expanded { display: block; flex: none; height: auto; overflow: visible; }
.card-wrap > .card-box .info-list li { align-items: flex-start; }
.card-wrap > .card-box .info-list .desc { max-width: 300px; font-size: var(--font18); font-weight: var(--font-w-m); line-height: 1.5; }
.card-more { position: absolute; right: 0; bottom: 0; left: 0; z-index: 1; display: flex; justify-content: center; align-items: flex-end; height: 70px; padding-bottom: 20px; background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--color-f) 78%); text-align: center; }
.card-more[hidden] { display: none; }
.card-wrap > .card-box.is-expanded .card-more { background: transparent; }
.btn-card-more { display: inline-block; width: 32px; height: 32px; padding: 0; border: 0; background: transparent; font-size: 0; color: transparent; line-height: 0; }
.btn-card-more::before { content: ''; display: inline-block; width: 20px; height: 20px; margin-top: 6px; background: url("../../resource/images/svg/ico_arrow_toggle.svg") no-repeat center center; }
.card-wrap > .card-box.is-expanded .btn-card-more::before { margin-top: 12px; transform: rotate(180deg); }

/* 차량정보 */
.info-list li.depth2 { flex-direction: column; }
.info-list li.depth2 > div,
.info-list li.depth2 .sub-info li { display: flex; justify-content: space-between; width: 100%; }
.info-list li.depth2 .sub-info {display: flex; flex-direction: column; gap: 16px; width: 100%; padding: 24px 0 10px; }
.info-list li.depth2 .sub-info li .tit { font-size: var(--font18); font-weight: var(--font-w-l); }
.info-list li.depth2 .sub-info li .desc { font-size: var(--font18); font-weight: var(--font-w-r); }
/* 기존 depth2 쓰면 스타일이 또 달라짐으로 인해 중첩클래스가 너무 많아져서 따로 빼서 구현 */
.info-list .desc-list {display: flex;flex-direction: column;gap: 16px;}

/* 계좌번호 */
.form-stack .error-msg { margin-top: 0; }

@media (max-width: 1600px) {
    /* .complete-visual { width: 196px; height: 175px;}
    .complete-tit { font-size: var(--font34);}
    .complete-desc { font-size: var(--font14);}
    .download-box .tit { font-size: var(--font20);}
    .download-box .desc { font-size: var(--font14);} */

    /* .intro-top-txt .eng { font-size: var(--font18); margin-bottom: 12px; }
    .intro-top-txt .sub { font-size: var(--font24);}
    .main-page .intro-tit { font-size: 64px;}
    .cta-inner { width: 1060px; }
    .badge-start { padding: 16px 24px; font-size: var(--font18);}
    .cta-desc { font-size: var(--font18);}
    .main-page .intro-section { transform: translateY(-23px); } */
}

@media (max-width: 1600px) {
    #wrap.main-page { width: 100%; min-width: 1200px; height: auto; min-height: 100vh; overflow: visible; }
    #wrap.main-page > #headerWrap { position: relative; top: auto; z-index: 20; }
    .main-page #headerWrap .header-inner,
    .main-copy,
    .main-page #footerWrap .footer-inner { width: min(1200px, calc(100% - 60px)); min-width: 1140px; margin-left: auto; margin-right: auto; }
    .main-page #headerWrap .header-inner { padding: 18px 0; }
    .main-page .cs-badge { min-height: 40px; padding: 0 18px; }
    .main-page #contentWrap { flex: none; }
    .main-visual { align-items: center; height: auto; min-height: 0; padding-top: 24px; padding-bottom: 80px; gap: 100px; }
    .main-copy { margin-top: 50px; }
    .main-start-btn {right: max(30px, calc(100px - ((1400px - 100vw) / 2)));}
    .main-start-btn::after { width: 28px; height: 28px; }
    .main-notice { width: 800px;margin-top: 44px;margin-left: max(30px, calc((100% - 1200px) / 2));padding: 6px;}
    .main-page #footerWrap { flex-shrink: 0; }
    .main-notice .notice-content {font-size: var(--font14);}
    .main-notice .notice-main {font-size: var(--font18); margin-bottom: 18px;}
}
