@charset "utf-8";

/* 전체 레이아웃 구조 (fixed Footer) */
#wrap { display: flex; flex-direction: column; min-height: 100vh; min-width: 1200px; background-color: #F2F3F8; }
#wrap > div:first-child, #headerWrap { position: sticky; top: 0; z-index: 100; flex-shrink: 0; }
#headerWrap { height: 70px; background-color: #F2F3F8; }
#contentWrap { flex: 1; width: 100%; /*padding: 52px 0 0;*/ }
#bottom-button-wrap { width: 100%; padding: 64px 0 72px; box-sizing: border-box; }
#footerWrap { flex-shrink: 0; display: flex; align-items: center; width: 100%; min-height: 140px; background-color: var(--color-f); }

.footer-inner { width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; gap: 80px; box-sizing: border-box; }
.footer-copy { font-size: var(--font14); font-weight: var(--font-w-r); line-height: 1.4; color: var(--color-9); }
.footer-copy span { display: inline-flex; align-items: center; font-size: var(--font16); color: var(--color-6); }
.footer-copy span::before { content: ''; display: inline-block; flex: 0 0 84px; width: 84px; height: 27px; margin-right: 26px; background: url('../images/ORIX_logo.png') no-repeat center / contain; }
.footer-copy p { margin: 0 0 0 110px; font-size: var(--font14); color: var(--color-9); font-weight: var(--font-w-l);}
.footer-add {display: flex;flex-direction: column;align-items: flex-end;gap: 8px;font-size: var(--font14);font-weight: var(--font-w-r);color: var(--color-9);white-space: nowrap;}
.footer-add p:last-child {display: flex;gap: 15px;}

/* 메인 시작 페이지 전용 레이아웃 + 헤더 + 푸터  */
#wrap.main-page { width: 100vw; height: 100vh; overflow: hidden; display: flex; flex-direction: column; background: url("../../resource/images/mbg.png") no-repeat center / cover; }

.main-page #headerWrap { height: 84px; background: transparent; flex-shrink: 0; display: flex; align-items: center; }
.main-page #headerWrap .header-inner { padding: 20px 0 19px 0; width: 1600px;}
.main-page #headerWrap .header-inner .logo a { display: block; width: 124px; height: 32px; }
.main-page .main-nav ul { display: flex; align-items: center; }

.main-page .cs-badge { display: inline-flex; align-items: center; min-height: 44px; padding: 0 20px; border: 1px solid var(--color-9); border-radius: 999px; background: transparent; box-sizing: border-box; }
.main-page .cs-badge .label { margin-right: 12px; font-size: var(--font18); font-weight: var(--font-w-b); color: var(--color-2); }
.main-page .cs-badge .tel { display: inline-flex; align-items: center; font-size: var(--font18); font-weight: var(--font-w-r); color: var(--color-2); }
.main-page .cs-badge .tel::before { content: ''; display: inline-block; width: 20px; height: 20px; margin-right: 6px; background: url('../../resource/images/svg/ico_header_call_entr.svg') no-repeat center / contain;}

.main-page #contentWrap { position: relative; width: 100%; margin: 0; padding: 0; overflow: visible; flex: 1; }
.main-visual { position: relative; display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%; min-height: 0; padding: 52px 0 0; overflow: hidden; background: transparent; box-sizing: border-box; }

.main-page #footerWrap { z-index: 5; flex-shrink: 0; width: 100%; min-height: 110px; background: transparent; }
.main-page #footerWrap .footer-inner { width: 1600px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 16px; padding-top: 24px; padding-bottom: 24px; }
.main-page #footerWrap .footer-add { display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 20px; color: var(--color-6); font-size: var(--font14); }
.main-page #footerWrap .footer-add p { margin: 0; }
.main-page #footerWrap .footer-add p:last-child { display: flex; gap: 20px; }
.main-page #footerWrap .footer-copy { display: flex; align-items: center; justify-content: center; margin: 0;}
.main-page #footerWrap .footer-copy span {display: inline-block;color: var(--color-6);font-size: var(--font16); font-weight: var(--font-w-l);}
.main-page #footerWrap .footer-copy span em {font-weight: var(--font-w-r);}
.main-page #footerWrap .footer-copy span::before {content: '';display: inline-block;width: 72px;height: 24px;margin-right: 16px;background: url("../../resource/images/svg/logo_666.svg") no-repeat center / contain;vertical-align: middle;}


/* 에러 페이지, 완료 페이지 전용 레이아웃 (Main Error)*/ /* 260625 추가 or 수정 */
.error-container { padding-top: 80px; }
.s-ready-container {padding-top: 40px;} 
.error-page, 
.error-page #headerWrap, 
.complete-page , .complete-page #headerWrap,
.s-ready-page, .s-ready-page #headerWrap { background-color: #fff !important; }

/* .error-page #contentWrap, */ 
/* .complete-page #contentWrap, */
/* .s-ready-page #contentWrap { display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 70px); padding: 0; } */
/* .complete-page #contentWrap {padding-top: 72px;} */ /* 이따가 복구 */
.complete-page #contentWrap {padding-top: 62px; padding-bottom: 72px;}
.complete-page #contentWrap, .error-page #contentWrap, .s-ready-page #contentWrap {border-bottom: 1px solid var(--color-d);} /* 260625 추가 or 수정 */

.error-container, .complete-container, .s-ready-container { text-align: center;}

/* Inner 공통 (1200px 중앙 정렬) */
.header-inner, .contents, .bottom-button-inner { width: 1200px; margin: 0 auto; position: relative; box-sizing: border-box;}

/* 텍스트 스타일 공통 */
h2 { font-size: var(--font38); font-weight: var(--font-w-b); color: var(--color-2); }
h3 { font-size: var(--font24); font-weight: var(--font-w-b); color: var(--color-2); }
h4 { font-weight: var(--font-w-r); color: var(--color-2); letter-spacing: 0; }
.txt-p1 { font-size: var(--font26); font-weight: var(--font-w-sb); color: var(--color-2); }
.txt-p2 { font-size: var(--font22); font-weight: var(--font-w-sb); color: var(--color-2); }
.txt-p3 { font-size: var(--font20); font-weight: var(--font-w-m); color: var(--color-2); }
.txt-p4 { font-size: var(--font18); font-weight: var(--font-w-m); color: var(--color-2); }
.txt-p5 { font-size: var(--font16); font-weight: var(--font-w-r); color: var(--color-2); }

/* 헤더 (Header) */
.header-inner { height: 100%; display: flex; justify-content: space-between; align-items: center; }
.header-inner .logo a { display: block; width: 95px; height: 25px; }
.header-inner .logo a img { width: 100%; /* height: 100%; */ object-fit: contain; }
.header-contact { display: flex; align-items: center; font-size: var(--font20); color: var(--color-45); font-weight: var(--font-w-b); }
.header-contact .txt { margin-right: 12px; }
.header-contact .tel { display: flex; align-items: center; font-weight: var(--font-w-r); color: var(--color-6); font-size: var(--font18); }
.header-contact .tel::before { content: ''; display: inline-block; width: 20px; height: 20px; margin-right: 4px; background: url('../../resource/images/svg/ico_header_call.svg') no-repeat center / contain; }

/* 컨텐츠 바텀에 버튼 컨텐츠 */
.bottom-button-inner { display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 32px; text-align: center; }
.bottom-button-text-wrap { display: flex; align-items: center; justify-content: center; }
.sub-txt { font-size: var(--font16); color: var(--color-6); font-weight: var(--font-w-r); }
/* 컨텐츠 바텀 내 사업자 정보 레이아웃 */
.biz-info { display: flex; flex-direction: column; gap: 16px; font-size: var(--font18); color: var(--color-6); font-weight: var(--font-w-r); }
.biz-info dl { display: flex; align-items: center; margin: 0; gap: 12px; }
.biz-info dt { display: inline-block; }
.biz-info dd { font-weight: var(--font-w-m); color: var(--color-45); margin: 0; }

.bottom-button-notice { display: flex; flex-direction: column; gap: 5px; }
.bottom-button-notice .notice-tit { font-size: var(--font18); font-weight: var(--font-w-b); color: var(--color-2); line-height: 1.4; }
.bottom-button-notice .notice { font-size: var(--font24); font-weight: var(--font-w-m); color: var(--color-6); }
.bottom-check-list {align-items: center;gap: 10px;}
.bottom-check-list .check-group {margin-bottom: 0;}
.bottom-check-list .check-group label {font-size: var(--font24);font-weight: var(--font-w-m);color: var(--color-6);}
/* 그리드 (Grid & Container) */
.layout-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; align-items: stretch; }
/* .layout-grid > .col-group:only-child, */
.col-group.term { grid-column: 1 / -1; }
.col-group { display: flex; flex-direction: column; gap: 20px; height: 100%; }
.card-box { flex: 1; background: var(--color-f); border-radius: 16px; padding: 50px; width: 100%; box-sizing: border-box; }
.card-box.notice,.card-box.terms,.card-box.summary {flex: 0;}
/* .card-box.mh-100 {flex: 1;} */
/* .col-group .card-box:last-child {flex: 1;} */ /*  */
.card-tit { font-size: var(--font24); font-weight: var(--font-w-b); margin-bottom: 32px; display: block; }
/* 완료 박스 타이틀 추가 (기존 card-box cert랑 동일)*/
.complete-notice-box .tit {font-size: var(--font24); font-weight: var(--font-w-b); margin-bottom: 12px;}
/* 26.05.28 이미지가 왼쪽에 붙어있는 타이틀 */
.card-tit.cert, .complete-notice-box .tit {display: flex;align-items: center;}
.card-tit.cert::before, .complete-notice-box .tit::before {content: '';display: inline-block;width: 60px;height: 60px; margin-right: 10px; background: url('../images/certification.png') no-repeat center / contain; flex-shrink: 0;}
.flex-none {flex: none !important;}
/* 구분선 */
.divider { border: 0; border-top: 1px solid var(--color-e); margin-top: 32px; margin-bottom: 40px; }

/*---------------------------------------------
    #팝업 레이아웃 :: layerPopup > z-index:110; ;
---------------------------------------------*/


.layerPopup { z-index:110;  display:none; flex-direction: column; position: fixed; top:0; left:0; background-color:#fff; overflow: hidden; width:100%; visibility: hidden; opacity: 0; transition: opacity 0.3s ease;}
.layerPopup .pop-content:focus-visible { outline: 2px solid var(--outline); outline-offset: -2px; }
.layerPopup.full.on::before,
.layerPopup.modal.on::before,
.layerPopup.on::before { content: ''; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.3); z-index:-1; }
/* 팝업_헤더 */
/* .layerPopup .pop-header { display:flex; justify-content:space-between; align-items:center;  margin-bottom:24px;  width:100%;  }
.layerPopup .pop-header .pop-tit h2 { display:block; font-size:var(--font28); font-weight:600; } */

/* 팝업_콘텐츠 */
.layerPopup > .pop-content { position:fixed; padding:32px 34px 38px 38px; max-width:800px; min-width:540px; width:100%; height:auto; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:12px; overflow:hidden; background-color:var(--color-f);}
.layerPopup .pop-body { width:auto; padding:0; max-height:508px; height:100%; overflow-y: auto; }
.layerPopup.on { display:block; visibility: visible;  opacity: 1; }
.layerPopup .pop-header.on,
.pop-btm-wrap.on { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }/*스크립트 :: 스크롤*/
.layerPopup [class*="-content"] > [class*="-group"] { margin-bottom:46px; }
.layerPopup [class*="-content"] > [class*="-group"]:last-of-type { margin-bottom:0; }

.layerPopup .pop-footer { margin-top:48px; }
.layerPopup .pop-footer .button-content { display:flex; justify-content:center; gap:16px; text-align:center; }
.layerPopup .alert .pop-footer .button-content .btn-pop-primary { max-width:100%; }


/* 팝업_풀팝업 */
/* .layerPopup .pop-area:focus-visible { outline: 2px solid var(--outline); outline-offset: -2px; }
.layerPopup.full { display:initial; min-height:auto; }
.layerPopup.full > .pop-area { display:flex; flex-direction:column;  position:fixed; width:80%; height:80%; max-width:800px; max-height:688px; top:50%; left:50%; transform:translate(-50%, -50%); background:var(--color-f); border-radius:28px; }
.layerPopup.full .pop-header { padding:44px 34px 12px; margin-bottom:0; }
.layerPopup.full .pop-header h2 { font-size:var(--font24); font-weight:var(--font-w700); color:var(--color-2); }
.layerPopup.full .pop-body { padding:24px 34px 20px; flex:1; overflow-y:auto; }
.layerPopup.full .pop-footer { margin-top:0; padding:28px 34px 38px; display:flex; align-items:center; justify-content:center; } */



/* 팝업_모달팝업*/
.layerPopup.modal .pop-content { max-width:500px; padding:40px; min-width:auto; height:auto; width:calc(100% - 80px); border-radius:20px;  }
.layerPopup.modal .pop-header { display: block; text-align: center; }
.layerPopup.modal .pop-tit {font-size: var(--font20);font-weight: var(--font-w-sb);color: var(--color-2);line-height: 1.5;}
.layerPopup.modal .pop-body {padding:0; max-height:508px; height:100%; overflow-x:hidden; overflow-y:auto; font-size:1rem; text-align:center; }
.layerPopup.modal .pop-desc {margin-top: 8px; font-size: var(--font16); font-weight: var(--font-w-r); color: var(--color-45); line-height: 1.5;}
.layerPopup.modal .pop-body:focus { border:0; outline:0; }
/* .layerPopup.modal .pop-body .tit { margin-bottom:12px; font-size:1.111rem; font-weight:500;} */

.pop-alert-list,
.pop-info-list { padding: 20px 0; margin-top: 24px; border-top: 1px solid var(--color-d); border-bottom: 1px solid var(--color-d);}

.pop-alert-list li,
.pop-info-list li {display: flex; align-items: center; justify-content: space-between; font-size: var(--font18); color: var(--color-45); font-weight: var(--font-w-r); line-height: 1.5;}
.pop-info-list li .tit {font-weight: var(--font-w-l); color: var(--color-6);}
.pop-info-list li .desc {font-weight: var(--font-w-m);}
.pop-alert-list li + li,
.pop-info-list li + li { margin-top: 14px;}

.carrier-badge {display: inline-flex; align-items: center; justify-content: center; min-width: 54px; height: 23px; margin-right: 8px; padding: 2px 12px; border-radius: 12px; background: #F0F6FF; color: var(--primary); font-size: var(--font16); font-weight: var(--font-w-m); box-sizing: border-box;}

/* .layerPopup.modal .pop-body p { font-size:1rem; text-align:center; } */ /* 260414 삭제, pop-body로 css 이동 */
.layerPopup.modal .pop-body table { min-width:unset; }
.layerPopup.modal .pop-footer { margin-top:32px; }


/* .pop-alert-message { font-size: var(--font18); font-weight: var(--font-w-r); color: var(--color-45); line-height: 1.5; } */

/**팜업 버튼*/
.btn-close { display:block; position:absolute; top:44px; right:34px; width:40px; height:40px; background: var(--ico-close) no-repeat center; background-size:22px; font-size:0;  }
