@charset "utf-8";

body {
    --table-border:1px solid #E0E0E0;
    --table-th:var(--color-f5);
    --total:#EDF9FF;
    --table-pd:18px 20px;
}

.table-content{
    --mt-20:20px;
    position:static;
    overflow:visible;
}

table{ margin: 0 auto; border-spacing:0; border-collapse: collapse; table-layout:fixed; max-width: 600px; }

table th,
table td { padding:var(--table-pd); text-align:center; font-size:var(--font18); font-weight:var(--font-w-r); border:var(--table-border); word-break:keep-all !important; }
table th { background:var(--table-th); border-left: 0; font-weight:var(--font-w-m); color:var(--color-2); }
table td { border-right:0; color: var(--color-45); padding: 18px 26px; text-align: left;}

table .bor-l { border-left:var(--table-border) !important; }
table .bor-r { border-right:var(--table-border) !important; }
table th label { font-weight:var(--font-w-m); }
table td.title { text-align:left; }
table tbody tr:has(td[rowspan]) + tr th:first-of-type,
table tbody tr:has(td[rowspan]) + tr td:first-of-type { border-left:var(--table-border); }

table.col-row tbody th { background:transparent; font-size:1rem; }

table.td-al td { text-align:left; }

.table-group + .m-dot { margin-top:-22px; }

table th.div_sum { background:var(--white); font-weight:var(--font-w-m); border-right:var(--table-border); font-weight:var(--font-w-r);  }

/* 테이블 위에 텍스트 */
.total { padding-bottom:20px; font-size:var(--font16); font-weight:var(--font-w-r); color:var(--color-6); text-align:left; }
.total em { color:var(--color-2); font-weight:var(--font-w-b); }
.total em span { color:var(--primary); }
.caption { padding-bottom:20px; font-size:var(--font16); font-weight:var(--font-w-r); color:var(--color-6); text-align:right; }
.form-content:has(.caption.total) { display:flex; align-items:center; }

/* 테이블 푸터 */
.table-content { overflow:visible; }

.table-content table tfoot tr:only-child,
.table-content table tfoot tr:last-child { background-color:#EDF9FF; }
.table-content table tfoot .sum { font-weight:var(--font-w-m); color:var(--white); background-color:#0072BC; }

/* 조회결과 없음 */
table:has(.no-results) { border:0; }
table:has(.no-results) thead { display:none; }
table:has(.no-results) td { margin:0; padding:0; border:0; }
.no-results { padding-top:150px; width: 100%; border:var(--table-border); border-radius:8px; }
.no-results p { padding-top:124px; width:100%; min-height:308px; font-size: var(--font28); font-weight: var(--font-w-m); text-align:center; background: url('../../images/content/no-result.png') no-repeat center top; background-size:120px 100px;}

/* 완료 */
.completed { padding:100px 0; width: 100%; border:var(--table-border); border-radius:8px; }
.completed p { padding-top:124px; width:100%;  font-size: var(--font28); font-weight: var(--font-w-b); text-align:center; background: url('../../images/content/contrackComp.png') no-repeat center top; background-size:120px 100px;}
.completed span {display: block; margin-top: 16px; width: 100%; font-weight: var(--font-w-r); color: var(--color-45); text-align: center;}
.completed + .rfrnc { margin-top:20px; }
.completed + .rfrnc li + li { margin-top:12px; }

/* 공지사항 리스트 */
.mo-list tbody tr td.title,
.mo-list tbody tr td.title a { max-width:95%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; text-align:left; }
.mo-list tbody tr td.title span { display:inline-block; max-width:400px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

/**테이블**/
table.round { border:var(--table-border); border-bottom:0; border-collapse:separate; border-radius:16px; overflow:hidden; }

.bdr-none {border-right: none !important;}
.bdl-none {border-left: none !important;}

.tbl-contract.bd-0, 
.tbl-contract.bd-0 th, 
.tbl-contract.bd-0 td {
    border: none !important; 
}

@media (max-width: 1600px) {
    .complete-info-tbl {max-width: 500px; margin: 0 auto 54px;}
    .complete-info-tbl th, .complete-info-tbl td {font-size: var(--font14);}
}






